{{ define "main" }}
{{ partial "page-header.html" (dict "title" (T "label_accompaniments") "description" (T "page_accompaniment_desc")
"image" "images/services-section.png")}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="container px-4 lg:py-16">
  <div class="flex flex-col gap-y-8 lg:flex-row lg:items-center">
    <div class="lg:w-1/2 xl:w-4/12">
      <img src="{{ (print "images/what-do-we-offer-" .Site.Language.Lang ".svg" ) | absURL }}" alt=""
          class="">
    </div>
    <div class="lg:w-1/2 xl:w-8/12">
      <p class="section-description mt-6 text-base lg:text-lg">
        {{ T "page_accompaniment_offer" }}
      </p>
    </div>
  </div>
  <div class="mt-14">
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="0" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_1_Impacto.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_first_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_1_Impacto.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_first_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i1" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_define_your_impact" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_define_your_impact" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_define_your_impact" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-japigay.svg" alt="logo-japigay">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-fundar.svg" alt="logo-fundar">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-open-contracting.svg" alt="logo-open-contracting">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="0" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="1" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_2_Objetivos.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_second_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_2_Objetivos.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_second_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i2" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i3" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i4" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i5" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_reach_your_goals" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_reach_your_goals" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_reach_your_goals" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-japigay.svg" alt="logo-japigay">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-fundar.svg" alt="logo-fundar">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-open-contracting.svg" alt="logo-open-contracting">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="1" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="2" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_3_Financiamiento.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_third_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_3_Financiamiento.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_third_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i6" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i7" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_diversify_your_financing" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_diversify_your_financing" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_diversify_your_financing" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-decidim.svg" alt="logo-decidim">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-reaccion.svg" alt="logo-reaccion">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-codeando-mexico.svg" alt="logo-codeando-mexico">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-ciudadania-inteligente.svg" alt="logo-ciudadania-inteligente">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-civictech.svg" alt="logo-civictech">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-iri.svg" alt="logo-iri">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-ndi.svg" alt="logo-ndi">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="2" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="3" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_4_Aprendizajes.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_fourth_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_4_Aprendizajes.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_fourth_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i8" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i9" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_practice_your_learning" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_practice_your_learning" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_practice_your_learning" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-poder.svg" alt="logo-poder">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-indela.svg" alt="logo-indela">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-oh.svg" alt="logo-oh">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="3" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="4" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_5-Organizacion.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_fifth_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_5-Organizacion.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_fifth_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i10" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i11" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_organization_or_network" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_organization_or_network" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_organization_or_network" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-nodo.svg" alt="logo-nodo">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-alianza-campo-justo.svg" alt="logo-alianza-campo-justo">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-codeforall.svg" alt="logo-codeforall">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-hivos.svg" alt="logo-hivos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="4" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="5" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_6_Transformacion.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_sixth_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_6_Transformacion.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_sixth_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i12" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i13" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i14" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_transformation_in_your_team" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_transformation_in_your_team" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_transformation_in_your_team" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-hiperderecho.svg" alt="logo-hiperderecho">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-tedic.svg" alt="logo-tedic">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="5" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
    <div class="accordion py-5 border-t-2 border-chocolate lg:px-8 w-full text-left">
      <button data-id="6" class="accordion-item flex items-center justify-between gap-x-8 w-full">
        <div class="flex items-center gap-x-6 lg:gap-x-8">
          <div class="flex-shrink-0">
            <img class="w-20 h-20" src="{{ "images/PNG-illos_ls_acompañamientos_7_Ecosistema.png" | absURL }}" alt="acompañamientos 1">
          </div>
          <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_seventh_service" | safeHTML }}</p>
          </div>
        </div>
        <div>
            <div class="w-10 h-10 rounded-full border-2 border-chocolate grid place-items-center">
              <img src="{{ "images/arrow-rotate.svg" | absURL }}" alt="arrow rotate">
            </div>
        </div>
      </button>
      <div class="accordion-panel hidden">
         <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-4 lg:flex-row items-start gap-x-8">
            <div class="flex-shrink-0 lg:sticky lg:top-32 lg:left-0">
              <img class="w-36 h-36" src="{{ "images/PNG-illos_ls_acompañamientos_7_Ecosistema.png" | absURL }}" alt="acompañamientos 1">
            </div>
            <div>
              <p class="uppercase text-3xl lg:text-4xl font-martin">{{ T "page_accompaniment_seventh_service" | safeHTML }}</p>
              <ul class="mt-4 space-y-2 lg:text-lg list-inside list-disc">
                <li>
                  {{ T "page_accompaniment_description_i15" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i16" | safeHTML }}
                </li>
                <li>
                  {{ T "page_accompaniment_description_i17" | safeHTML }}
                </li>
              </ul>
              <div class="relative mt-12 lg:mt-16 xl:mt-20">
                <div class="absolute">
                  <img src="/images/quotes.svg" alt="quotes">
                </div>
                <div class="relative lg:ml-7 pt-4">
                  <p class="font-source-serif-pro text-xl lg:text-2xl">
                    {{ T "page_accompaniment_testimony_strengthen_your_ecosystem" | safeHTML }}
                  </p>
                  <div class="mt-4">
                    <p class="lg:text-lg font-source-sans-pro font-bold">
                      {{ T "page_accompaniment_person_testimony_strengthen_your_ecosystem" | safeHTML }}
                    </p>
                    <p class="-mt-1 lg:text-lg font-source-sans-pro text-chocolate text-opacity-60">
                      {{ T "page_accompaniment_person_position_testimony_strengthen_your_ecosystem" | safeHTML }}
                    </p>
                  </div>
                  <div class="mt-12 lg:mt-16 xl:mt-20 border-t border-chocolate border-dashed pt-4 pb-2">
                    <p class="uppercase text-2xl lg:text-3xl font-normal font-martin">
                      {{ T "page_accompaniment_organizations" | safeHTML }}
                    </p>
                    <div class="flex flex-row gap-4 mt-4">
                      <div>
                        <img src="/images/logos/logo-small-wings.svg" alt="logo-wings">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-tor.svg" alt="logo-tor">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-cabildoxlatam.svg" alt="logo-cabildoxlatam">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-open-contracting.svg" alt="logo-open-contracting">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-hivos.svg" alt="logo-hivos">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-ifip.svg" alt="logo-ifip">
                      </div>
                      <div>
                        <img src="/images/logos/logo-small-arropa.svg" alt="logo-arropa">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-start">
            <button data-id="6" class="w-10 h-10 rounded-full border-2 bg-gold-metallic border-chocolate grid place-items-center">
              <img src="{{ "images/x-mark.svg" | absURL }}" alt="x mark">
            </button>
          </div>
         </div>
      </div>
    </div>
  </div>
</section>

<!-- SECCIÓN EXPERIENCIAS -->
<section class="container px-4 py-16 lg:mt-14">
  <div class="flex items-center justify-center">
    <h2 class="section-title text-fire-opal">
      {{ T "label_their_exp" }}
    </h2>
    <span class="font-beth-ellen text-xl relative z-10 -ml-8">{{ T "label_with" }} La Sobremesa</span>
  </div>
  <div class="mt-12">
    <div class="slider-wrapper slider-wrapper-experiencias">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {{ $order := slice "Oxfam México" "IRI" "Decidim" "Alianza Campo Justo" "Code for All" "PODER" "reAcción" "Japiqay" }}
          {{ $pages := .Pages }}
          {{ $sortedPages := slice }}
          {{ range $index, $client := $order }}
            {{ range where $pages "Params.client" $client }}
              {{ $sortedPages = $sortedPages | append . }}
            {{ end }}
          {{ end }}

          {{ range $pages }}
          {{ if eq .Params.category "Experiencias" }}
          {{ partial "experiences-slider.html" . }}
          {{ else }}

          {{ end }}
          {{ end }}

          {{ range $sortedPages }}
            {{ if eq .Params.category "Testimonio" }}
              {{ partial "testimonies-slider.html" . }}
              {{ else }}

            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="slider-prev"></div>
      <div class="slider-next"></div>
      <div class="slider-pagination"></div>
    </div>
  </div>
  </div>
</section>

<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-full md:w-2/3" src="{{ (print "images/waiting-" .Site.Language.Lang ".png" ) | absURL }}"
        alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md text-4xl leading-extra-tight lg:text-5xl">
        {{ T "page_accompaniment_cta_q" | safeHTML }}
      </h2>
      <div class="m-8 h-full flex flex-col">
        <p class="font-source-serif-pro font-semibold text-lg lg:text-xl">
          {{ T "page_accompaniment_cta_desc" }}
        </p>
      </div>
      <button class="site-call site-link text-chocolate hover:text-fire-opal">
        {{ T "action_schedule_call" }}
      </button>
    </div>
  </div>
</div>

{{ end }}

{{ define "head" }}
  {{ $swiper := resources.Get "styles/swiper.pcss" | postCSS | fingerprint }}
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css">
  <link rel="stylesheet" href="{{ $swiper.Permalink }}">
{{ end }}

{{ define "js" }}
  {{ $services := resources.Get "js/services.js" | js.Build (dict "minify" true)}}
  <script src="{{ $services.Permalink }}"></script>
{{ end }}