{{ define "main" }}
{{ partial "page-header.html" (dict "title" (T "label_accompaniments") "description" (T "page_accompaniment_desc")
"image" "images/services-section.png")}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- {{ range .Pages }}
<pre>{{ .Params.name }}</pre>
{{ end }} -->
<section class="container px-4 py-16">
  <div class="section-row">
    <div class="section-col">
      <div class="section-col-inner">
        <img src="{{ (print "images/what-do-we-offer-" .Site.Language.Lang ".svg" ) | absURL }}" alt=""
          class="w-2/3 mx-auto md:ml-0 md:mr-auto md:w-4/5">
      </div>
    </div>
    <div class="section-col">
      <div class="section-col-inner">
        <p class="section-description mt-6">
          {{ T "page_accompaniment_offer" }}
        </p>
      </div>
      <div class="max-w-4xl ml-auto mt-24">
        <div class=" flex flex-col gap-2">
          <div class="">
            <a href="#para-definir-tu-impacto">
              {{ T "page_accompaniment_first_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-alcanzar-tus-objetivos">
              {{ T "page_accompaniment_second_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-diversificar-tu-financiamiento">
              {{ T "page_accompaniment_third_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-poner-en-practica-tus-aprendizajes">
              {{ T "page_accompaniment_fourth_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-crear-tu-organizacion-o-red">
              {{ T "page_accompaniment_fifth_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-impulsar-una-transformacion-en-tu-equipo">
              {{ T "page_accompaniment_sixth_service" | safeHTML }}
            </a>
          </div>
          <div class="">
            <a href="#para-entender-y-fortalecer-tu-ecosistema">
              {{ T "page_accompaniment_seventh_service" | safeHTML }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECCIÓN EXPERIENCIAS -->
<section class="container px-4 py-16 mt-14 opa">
  <div class="flex items-center justify-center">
    <h2 class="section-title text-fire-opal">
      {{ T "label_their_exp" }}
    </h2>
    <span class="font-beth-ellen text-xl relative z-10 -ml-8">{{ T "label_with" }} La Sobremesa</span>
  </div>
  <div class="mt-12">
    {{ partial "experiences-slider.html" . }}
  </div>
  </div>
  </div>
</section>

<!-- SECCIÓN TESTIMONIOS -->
<section class="container px-4 py-16 mt-14 opa">
  <div class="flex items-center justify-center">
    <h2 class="section-title text-fire-opal">
      {{ T "label_testimonies" }}
    </h2>
    <span class="font-beth-ellen text-xl relative z-10 -ml-8">{{ T "label_with" }} La Sobremesa</span>
  </div>
  <div class="mt-12">
    {{ partial "testimonies-slider.html" . }}
  </div>
  </div>
  </div>
</section>

<!-- SECCIÓN DE TIPOS DE ACOMPAÑAMIENTOS -->
<div class="flex flex-col">
  <!-- PARA DEFINIR TU IMPACTO -->
  <section id="para-definir-tu-impacto" class="container lg:container-lg px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_first_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-1/4">
        <img src="/images/resources-sketch.png" alt="resources-sketch">
      </div>
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
          </div>
          <div>
            <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
          </div>
          <div>
            <img src="/images/logos/logo-small-tedic.svg" alt="logo-tedic">
          </div>
          <div>
            <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
          </div>
          <div>
            <img src="/images/logos/logo-small-codeforall.svg" alt="logo-codeforall">
          </div>
          <div>
            <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
          </div>
          <div>
            <img src="/images/logos/logo-small-global-integrity.svg" alt="logo-global-integrity">
          </div>
          <div>
            <img src="/images/logos/logo-small-fau.svg" alt="logo-fau">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i1" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_define_your_impact" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_define_your_impact" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_define_your_impact" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PARA ALCANZAR TUS OBJETIVOS -->
  <section id="para-alcanzar-tus-objetivos" class="container px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_second_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
          </div>
          <div>
            <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
          </div>
          <div>
            <img src="/images/logos/logo-small-japigay.svg" alt="logo-japigay">
          </div>
          <div>
            <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
          </div>
          <div>
            <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
          </div>
          <div>
            <img src="/images/logos/logo-small-fundar.svg" alt="logo-fundar">
          </div>
          <div>
            <img src="/images/logos/logo-small-open-contracting.svg" alt="logo-open-contracting">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i2" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i3" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i4" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i5" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_reach_your_goals" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_reach_your_goals" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_reach_your_goals" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <img src="/images/conversation-sketch.png" alt="conversation-sketch">
      </div>
    </div>
  </section>

  <!-- PARA DIVERSIFICAR TU FINANCIAMIENTO -->
  <section id="para-diversificar-tu-financiamiento" class="container px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_third_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-1/4">
        <img src="/images/guide-sketch.png" alt="conversation-sketch">
      </div>
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
          </div>
          <div>
            <img src="/images/logos/logo-small-decidim.svg" alt="logo-decidim">
          </div>
          <div>
            <img src="/images/logos/logo-small-reaccion.svg" alt="logo-reaccion">
          </div>
          <div>
            <img src="/images/logos/logo-small-codeando-mexico.svg" alt="logo-codeando-mexico">
          </div>
          <div>
            <img src="/images/logos/logo-small-ciudadania-inteligente.svg" alt="logo-ciudadania-inteligente">
          </div>
          <div>
            <img src="/images/logos/logo-small-iri.svg" alt="logo-iri">
          </div>
          <div>
            <img src="/images/logos/logo-small-ndi.svg" alt="logo-ndi">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i6" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i7" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_diversify_your_financing" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_diversify_your_financing" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_diversify_your_financing" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PARA PONER EN PRÁCTICA TUS APRENDIZAJES -->
  <section id="para-poner-en-practica-tus-aprendizajes" class="container px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_fourth_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-poder.svg" alt="logo-poder">
          </div>
          <div>
            <img src="/images/logos/logo-small-oxfam.svg" alt="logo-oxfam-mexico">
          </div>
          <div>
            <img src="/images/logos/logo-small-odc.svg" alt="logo-odc">
          </div>
          <div>
            <img src="/images/logos/logo-small-indela.svg" alt="logo-indela">
          </div>
          <div>
            <img src="/images/logos/logo-small-oh.svg" alt="logo-oh">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i8" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i9" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_practice_your_learning" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_practice_your_learning" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_practice_your_learning" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <img src="/images/conversations-accompniment.svg" alt="conversations-accompniment">
      </div>
    </div>
  </section>

  <!-- PARA CREAR TU ORGANIZACIÓN O RED -->
  <section id="para-crear-tu-organizacion-o-red" class="container lg:container-lg px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_fifth_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-1/4">
        <img src="/images/resources-sketch.png" alt="resources-sketch">
      </div>
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-nodo.svg" alt="logo-nodo">
          </div>
          <div>
            <img src="/images/logos/logo-small-alianza-campo-justo.svg" alt="logo-alianza-campo-justo">
          </div>
          <div>
            <img src="/images/logos/logo-small-codeforall.svg" alt="logo-codeforall">
          </div>
          <div>
            <img src="/images/logos/logo-small-hivos.svg" alt="logo-hivos">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i10" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i11" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_organization_or_network" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_organization_or_network" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_organization_or_network" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PARA IMPULSAR UNA TRANSFORMACIÓN EN TU EQUIPO -->
  <section id="para-impulsar-una-transformacion-en-tu-equipo" class="container px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_sixth_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-hiperderecho.svg" alt="logo-hiperderecho">
          </div>
          <div>
            <img src="/images/logos/logo-small-tedic.svg" alt="logo-tedic">
          </div>
          <div>
            <img src="/images/logos/logo-small-dialogos.svg" alt="logo-dialogos">
          </div>
          <div>
            <img src="/images/logos/logo-small-iris.svg" alt="logo-iris">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i12" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i13" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i14" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_transformation_in_your_team" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_transformation_in_your_team" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_transformation_in_your_team" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <img src="/images/conversation-sketch.png" alt="conversation-sketch">
      </div>
    </div>
  </section>

  <!-- PARA ENTENDER Y FORTALECER TU ECOSISTEMA -->
  <section id="para-entender-y-fortalecer-tu-ecosistema" class="container px-4 py-16 border-t-2 border-chocolate">
    <div class="flex flex-row gap-5 items-center">
      <img class="w-14 h-14" src="/images/green-star.svg" alt="green-star">
      <h3 class="accordion-subtitle">
        {{ T "page_accompaniment_seventh_service" | safeHTML }}
      </h3>
    </div>
    <div class="flex flex-row gap-6 mt-14">
      <div class="w-1/4">
        <img src="/images/guide-sketch.png" alt="conversation-sketch">
      </div>
      <div class="w-3/4">
        <p class="uppercase text-2xl font-normal font-martin">
          {{ T "page_accompaniment_organizations" | safeHTML }}
        </p>
        <div class="flex flex-row gap-4 mt-8">
          <div>
            <img src="/images/logos/logo-small-wings.svg" alt="logo-wings">
          </div>
          <div>
            <img src="/images/logos/logo-small-tor.svg" alt="logo-tor">
          </div>
          <div>
            <img src="/images/logos/logo-small-cabildoxlatam.svg" alt="logo-cabildoxlatam">
          </div>
          <div>
            <img src="/images/logos/logo-small-open-contracting.svg" alt="logo-open-contracting">
          </div>
          <div>
            <img src="/images/logos/logo-small-hivos.svg" alt="logo-hivos">
          </div>
          <div>
            <img src="/images/logos/logo-small-ifip.svg" alt="logo-ifip">
          </div>
          <div>
            <img src="/images/logos/logo-small-arropa.svg" alt="logo-arropa">
          </div>
        </div>
        <div class="text-xl font-source-sans-pro font-normal mt-14">
          <li>
            {{ T "page_accompaniment_description_i15" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i16" | safeHTML }}
          </li>
          <li>
            {{ T "page_accompaniment_description_i17" | safeHTML }}
          </li>
        </div>
        <div class="relative mt-14">
          <div>
            <img src="/images/quotes.svg" alt="quotes">
          </div>
          <div class="relative z-10 left-7 -top-7">
            <p class="font-source-serif-pro text-0'xl">
              {{ T "page_accompaniment_testimony_strengthen_your_ecosystem" | safeHTML }}
            </p>
            <div class="mt-7 flex flex-col gap-2">
              <div>
                <p class="text-lg font-source-sans-pro font-bold">
                  {{ T "page_accompaniment_person_testimony_strengthen_your_ecosystem" | safeHTML }}
                </p>
              </div>
              <div>
                <p class="text-lg font-source-sans-pro font-normal text-chocolate opacity-60">
                  {{ T "page_accompaniment_person_position_testimony_strengthen_your_ecosystem" | safeHTML }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-full md:w-2/3" src="{{ (print " images/waiting-" .Site.Language.Lang ".png" ) | absURL }}"
        alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md text-4xl leading-extra-tight lg:text-5xl">
        {{ T "page_accompaniment_cta_q" | safeHTML }}
      </h2>
      <div class="m-8 h-full flex flex-col">
        <p class="font-source-serif-pro font-semibold text-lg lg:text-xl">
          {{ T "page_accompaniment_cta_desc" }}
        </p>
      </div>
      <button class="site-call site-link text-chocolate hover:text-fire-opal">
        {{ T "action_schedule_call" }}
      </button>
    </div>
  </div>
</div>

{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="https://unpkg.com/swiper@6.7.0/swiper-bundle.min.css">
{{ end }}

{{ define "js" }}
{{ $services := resources.Get "js/services.js" | js.Build (dict "minify" true)}}
<script src="{{ $services.Permalink }}"></script>
{{ end }}