<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS | minify }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ block "head" . }}{{ end }}
  {{ if .Title }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
  <!-- MailerLite Universal -->
  <!-- <script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
  var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
  var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
  _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
  
  var ml_account = ml('accounts', '3211705', 'h2j7b7h2w6', 'load');
  </script> -->
  <!-- End MailerLite Universal -->
  <!-- Calendly -->
  <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/lasobremesa/60min', text: 'Programe una reunión conmigo', color: '#006bff', textColor: '#ffffff', branding: true }); }</script> -->
</head>
<body class="font-source-sans-pro bg-linen text-chocolate">
  {{ partial "nav.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ block "js" . }}{{ end }}
</body>
</html>
