{{ define "main" }}
<section class="container sm:w-10/12 px-4 py-16">
  <div class="section-row items-center sm:space-y-0 sm:flex-row">
    <div class="section-col">
      <h1 class="font-martin leading-extra-tight uppercase text-7xl">
        {{ T "page_contact_title" }}
      </h1>
      <p class="section-description mt-6">
        {{ T "page_contact_desc" }}
      </p>
    </div>
    <div class="section-col">
      <img class="mx-auto w-2/3 sm:w-full sm:ml-8 md:ml-auto md:w-4/5" src="{{ "images/contact-section.png" | absURL }}" alt="">
    </div>
  </div>
</section>
<section class="px-4 pb-16">
  <div class="container">
    <div class="container flex justify-center items-center">
      <img class="h-10 object-center object-contain hidden sm:block" src="{{ "images/stars.svg" | absURL }}" alt="">
      <h2 class="section-title text-center text-chocolate mx-4">
        {{ T "label_contact_us" }}
      </h2>
      <img class="h-10 object-center object-contain hidden sm:block" src="{{ "images/stars.svg" | absURL }}" alt="">
    </div>
    <div class="mt-4 text-center">
      <p class="mt-10 mx-auto max-w-lg section-description text-lg lg:text-xl">
        {{ T "page_contact_schedule" }}
      </p>
      <a href="" class="mt-6 site-link hover:text-fire-opal">
        {{ T "action_schedule_call" }}
      </a>
      <p class="mt-14 mx-auto max-w-lg section-description text-lg lg:text-xl">
        {{ T "page_contact_write" }}
      </p>
      <a href="" class="mt-6 site-link hover:text-fire-opal">
        hola@lasobremesa.co
      </a>
    </div>
  </div>
</section>
<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-full" src="{{ "images/join-us-contact-es.png" | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md text-4xl lg:text-5xl leading-extra-tight">
        {{ T "page_contact_cta_q" | safeHTML }}
      </h2>
      <div class="mt-12 h-full flex flex-col">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          {{ T "label_subscribe_newsletter" }}
        </p>
        <form class="my-4" action="/">
          <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
          <input class="bg-linen text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
