{{ define "main" }}
<section class="container sm:w-10/12 px-4 py-16">
  <div class="section-row items-center sm:space-y-0 sm:flex-row">
    <div class="section-col">
      <h1 class="font-martin leading-extra-tight uppercase text-7xl">
        ¿Quieres aprender, reflexionar, y renovar a tu organización?
      </h1>
      <p class="section-description mt-6">
        Hablemos de cómo podemos apoyarte a ti y a tu organización de sociedad civil en su proceso de transformación.
      </p>
    </div>
    <div class="section-col">
      <img class="mx-auto w-2/3 sm:w-full sm:ml-8 md:ml-auto md:w-4/5" src="{{ "images/contact-section.png" | absURL }}" alt="">
    </div>
  </div>
</section>
<section class="px-4 pb-16">
  <div class="container">
    <div class="container flex justify-center items-center">
      <img class="h-10 object-center object-contain hidden sm:block" src="{{ "images/stars.svg" | absURL }}" alt="">
      <h2 class="section-title text-center text-chocolate mx-4">
        Contáctanos
      </h2>
      <img class="h-10 object-center object-contain hidden sm:block" src="{{ "images/stars.svg" | absURL }}" alt="">
    </div>
    <div class="mt-4 text-center">
      <p class="mt-10 mx-auto max-w-lg section-description text-lg lg:text-xl">
        Si te interesa saber más de como sería trabajar con La Sobremesa a través de un acompañamiento,
      </p>
      <a href="" class="mt-6 site-link hover:text-fire-opal">Agenda una llamada</a>
      <p class="mt-14 mx-auto max-w-lg section-description text-lg lg:text-xl">
        Si te interesa saber más de nosotras o si tienes preguntas o ideas, escríbenos a
      </p>
      <a href="" class="mt-6 site-link hover:text-fire-opal">hola@lasobremesa.co</a>
    </div>
  </div>
</section>
<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-2/3" src="{{ "images/join-us.png" | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md leading-extra-tight">
        ¿Te interesa enterarte de novedades en <span class="text-gold-metallic">La Sobremesa</span> y ser parte de nuestra <span class="text-gold-metallic">comunidad</span>?
      </h2>
      <div class="mt-12 h-full flex flex-col">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          Suscríbete a nuestro newsletter
        </p>
        <form class="my-4" action="/">
          <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
          <input class="bg-linen text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
