{{ define "main" }}
{{ partial "page-header.html" (dict "title" "Conversaciones" "description" "En La Sobremesa, generamos espacios para tener las conversaciones reales que necesitamos desde sociedad civil. Diseñamos y facilitamos conversaciones para escucharnos, analizarnos, e inspirarnos." "image" "images/conversation-section.png")}}
<section class="container px-4 py-16 relative">
  <img class="absolute top-0 left-0 h-full object-contain md:object-fill lg:w-1/2 xl:w-1/3" src="{{ "images/yellow-texture.png" | absURL }}" alt="">
  <div class="relative">
    <div class="section-row xl:space-x-24">
      <div class="w-full lg:w-1/2 xl:w-1/3">
        <h2 class="section-title leading-extra-tight">
          Estamos conversando sobre
        </h2>
      </div>
      <div class="w-full lg:w-1/2 xl:w-2/3 self-center">
        <div class="section-description">
          <p>¿Cómo se aprende dentro de la sociedad civil?</p>
          <p>¿Cómo y cuándo se colabora dentro de sociedad civil?</p>
          <p>¿Cómo se ve la innovación?</p>
        </div>
        <div class="mt-12 h-full flex flex-col">
          <p class="font-semibold text-lg tracking-wide lg:text-xl">
            Suscríbete a nuestro newsletter
          </p>
          <form class="my-4" action="/">
            <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
            <input class="bg-linen text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container px-4 py-16">
  <div class="flex items-center justify-center">
    <span class="font-beth-ellen text-xl relative z-10">Nuestras</span>
    <h2 class="section-title text-gold-metallic -ml-8">
      Conversaciones
    </h2>
  </div>
  <p class="mt-4 text-center text-2xl">
    Lorem ipsum dolor sit amet, consetetur.
  </p>
  <div class="mt-24 space-y-24">
    <div class="flex flex-col">
      <div class="flex flex-wrap pb-6 space-y-6 lg:space-y-0 lg:items-center lg:justify-between">
        <div class="w-full lg:w-1/2 lg:max-w-lg">
          <h3 class="font-source-serif-pro text-2xl leading-tight">¿Qué tipo de apoyo - o acompañamiento técnico - se recibe dentro de la sociedad civil?</h3>
          <p class="mt-6">
            Como parte de nuestro trabajo con Open Contracting Partnership (en esa época, como Agency), entrevistamos a personas de organizaciones de apoyo o "intermediarios", que dan algún tipo de acompañamiento. Hablamos con organizaciones regionales, con redes, con INGOs, e incluso con organizaciones locales.
          </p>
        </div>
        <div class="w-full lg:w-1/2 lg:max-w-md">
          <p class="text-gold-metallic font-source-serif-pro text-xl">
            ¿Qué encontramos?
          </p>
          <p>Muchas de las formas de apoyo que se utilizan no funcionan. Hay que escuchar a las voces de las personas quienes reciben este apoyo.</p>
        </div>
      </div>
      <div class="bg-gold-metallic p-6 md:px-12">
        <div class="flex flex-col lg:flex-row lg:items-center">
          <div class="w-full lg:w-2/5">
            <p class="font-source-serif-pro text-lg font-bold leading-tight lg:text-center">
              Para más sobre nuestros aprendizajes...
            </p>
          </div>
          <div class="w-full lg:w-3/5">
            <div class="flex flex-col items-start mt-4 md:flex-row md:justify-between lg:mt-0 lg:justify-end lg:space-x-12">
              <a href="" class="site-link-white">Full report</a>
              <a href="" class="site-link-white">Blog post</a>
              <a href="" class="site-link-white">Podcast</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-wrap pb-6 space-y-6 lg:space-y-0 lg:items-center lg:justify-between">
        <div class="w-full lg:w-1/2 lg:max-w-lg">
          <h3 class="font-source-serif-pro text-2xl leading-tight">
            ¿Cómo se ve el futuro de la filantropía en América Latina?
          </h3>
          <p class="mt-6">
            Como parte de nuestro apoyo a la coalición de donantes y actores filantrópicos, facilitamos una serie de talleres sobre qué factores - o "tendencias" - pueden influir la filantropía en América. Latina.
          </p>
        </div>
        <div class="w-full lg:w-1/2 lg:max-w-md">
          <p class="text-gold-metallic font-source-serif-pro text-xl">
            ¿Qué encontramos?
          </p>
          <p>Hay tendencias muy positivas que nos dan esperanza como trust based philanthropy y mutual aid networks pero por otro lado hay nuevos actores privados y un cierre de "civic spaces" y fiscal borders que nos preocupan.</p>
        </div>
      </div>
      <div class="bg-gold-metallic p-6 md:px-12">
        <div class="flex flex-col lg:flex-row lg:items-center">
          <div class="w-full lg:w-2/5">
            <p class="font-source-serif-pro text-lg font-bold leading-tight lg:text-center">
              Lee más sobre los prototipos de escenarios que crearon la coalición aquí.
            </p>
          </div>
          <div class="w-full lg:w-3/5">
            <div class="flex flex-col items-start mt-4 md:flex-row md:justify-between lg:mt-0 lg:justify-end lg:space-x-12">
              <a href="" class="site-link-white">Full report</a>
              <a href="" class="site-link-white">Blog post</a>
              <a href="" class="site-link-white">Podcast</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-2/3" src="{{ "images/join-us.png" | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md">
        ¿Te interesa ser parte de futuras <span class="text-gold-metallic">conversaciones</span> y recibir noticias sobre nuestros <span class="text-gold-metallic">debates</span>?
      </h2>
      <div class="mt-12 h-full flex flex-col">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          Suscríbete a nuestro newsletter
        </p>
        <form class="my-4" action="/">
          <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
          <input class="bg-linen text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
