{{ define "main" }}
<section class="px-4 py-16">
  <div class="page-header-container">
    <div class="page-row pt-0 lg:pt-10">
      <div class="page-col pt-0 lg:pt-10">
        <div class="section-col-inner items-start">
          <h2 class="text-chocolate uppercase text-7xl font-martin leading-extra-tight xl:text-8xl xl:leading-extra-tight">
            Conversaciones
          </h2>
          <img class="my-6 h-8 object-center object-contain" src="{{ "images/long-arrow-left.svg" | absURL }}" alt="">
          <p class="section-description">
            En La Sobremesa, generamos espacios para tener las conversaciones reales que necesitamos desde sociedad civil. Diseñamos y facilitamos conversaciones para escucharnos, analizarnos, e inspirarnos.
          </p>
        </div>
      </div>
      <div class="page-col self-end">
        <img class="mx-auto h-auto w-3/4 sm:w-2/3 md:w-3/4 lg:w-5/6 object-center object-contain" src="{{ "images/conversaciones.png" | absURL }}" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
