{{ define "main" }}
{{ partial "page-header.html" (dict "title" "Herramientas" "description" "Explora las herramientas - guías, videos, podcasts, artículos, y más - que estamos usando en nuestros acompañamientos y demás trabajo." "image" "images/resources-section.png")}}
<section class="px-4 py-16">
  <div class="container-lg">
    <h2 class="font-source-serif-pro text-4xl font-bold text-darmouth-green">
      Las herramientas que hemos usado
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {{ range .Site.Data.resources.all }}
        {{ partial "resource-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-2/3" src="{{ "images/join-us.png" | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md leading-extra-tight">
        ¿Te interesa ser parte de futuros <span class="text-darmouth-green">espacios</span> y recibir noticias sobre nuestras <span class="text-darmouth-green">conversaciones</span>?
      </h2>
      <div class="mt-12 h-full flex flex-col">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          Suscríbete a nuestro newsletter
        </p>
        <form class="my-4" action="/">
          <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
          <input class="bg-linen text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
        </form>
      </div>
    </div>
  </div>
</div>
{{ range .Site.Data.resources.all }}
  {{ partial "resource-modal.html" . }}
{{ end }}
{{ end }}

{{ define "js" }}
  {{ $do := resources.Get "js/do.js" | js.Build (dict "minify" true)}}
  <script src="{{ $do.Permalink }}"></script>
{{ end }}
