{{ define "main" }}
{{ partial "page-header.html" (dict "title" (T "label_tools") "description" (T "page_tools_desc") "image" "images/resources-section.png")}}
<section class="px-4 py-16">
  <div class="container-lg">
    <h2 class="font-source-serif-pro text-4xl font-bold text-darmouth-green">
      {{ T "page_tools_used" }}
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 xl:grid-cols-3">
      {{ range .Pages.ByLastmod.Reverse }}
        {{ partial "resource-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
<div class="container px-4 py-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-2/3" src="{{ (print "images/join-us-" .Site.Language.Lang ".png") | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md leading-extra-tight">
        {{ T "page_tools_cta_q" | safeHTML }}
      </h2>
      <div class="mt-12 h-full flex flex-col">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          {{ T "label_subscribe_newsletter" }}
        </p>
        <div class="mt-4">
          {{ partial "newsletter-form.html" (dict "Plain" false) }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ range where .Pages "Params.draft" false }}
  {{ partial "resource-modal.html" . }}
{{ end }}
{{ end }}

{{ define "js" }}
  {{ $do := resources.Get "js/do.js" | js.Build (dict "minify" true)}}
  <script src="{{ $do.Permalink }}"></script>
{{ end }}
