{{ define "main" }}
{{ partial "page-header.html" (dict "title" "Qué hacemos" "description" "La Sobremesa es una consultora que crea espacios de reflexión y aprendizaje para sociedad civil en América Latina, a través de conversaciones, de recursos, y de sus servicios de acompañamiento." "image" "images/what-we-do-section.png")}}
<section class="px-4 py-16">
  <div class="container sm:w-10/12 px-4 py-8">
    <div class="section-col lg:w-2/3">
      <h2 class="section-title section-col-title text-chocolate">
        ¿En qué trabajamos?
      </h2>
      <p class="mt-10 section-description">
        La Sobremesa fue creada para tratar un problema que vimos una y otra vez en sociedad civil: estamos haciendo mucho con muy poco.
      </p>
      <div class="section-col-inner">
        <p class="my-4">
          Dada esta presión que la sociedad civil tiene que soportar – por los donantes, sus colegas, y sus beneficiarios – las organizaciones y los humanos dentro de ellas <span class="font-bold">necesitamos un momento para tomar una pausa, para reflexionar y aprender.</span> Y siempre mejor hacerlo en comunidad, con buena compañía, en La Sobremesa.
        </p>
        <p class="my-4">
          En La Sobremesa queremos una sociedad civil fuerte, resiliente, e innovadora, cuyas líderes, organizaciones y redes tienen todo lo que necesitan para poder enfocarse en crear un impacto positivo en América Latina.
        </p>
        <p class="my-4">
          Entonces, generamos espacios de aprendizaje, herramientas para la transformación y acompañamiento directo para las organizaciones y líderes de sociedad civil de América Latina, para que ellas puedan generar el impacto que buscan de forma innovadora, saludable y a su manera.
        </p>
        <p class="mt-8 section-description">
          ¿Por qué “La Sobremesa”?
        </p>
        <p class="my-4">
          En varios países de América Latina, una “sobremesa” es el momento después de una comida en donde se sigue <span class="font-bold">compartiendo y profundizando la conversación,</span> con un postre, un café o un traguito de tu elección. Es un espacio de apertura y de confianza, en donde se tienen las <span class="font-bold">conversaciones reales e importantes.</span> El momento puede ser relajado o bien provocar debates intensos, hasta caóticos. Pero siempre dentro de un <span class="font-bold">espacio colectivo.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container sm:w-10/12 px-4 py-8">
    <div class="section-col lg:w-2/3">
      <h2 class="section-title section-col-title text-chocolate">
        ¿Cómo trabajamos?
      </h2>
      <p class="mt-10 section-description text-lg lg:text-xl">
        Somos un grupo de diseñadores y facilitadores de procesos. Trabajamos con organizaciones de sociedad civil junto a ellas para comprender mejor las raíces de sus desafíos y para poder generar ideas y experimentar con soluciones.
      </p>
      <div class="my-4">
        <ul class="list-arrow space-y-4">
          <li>Creemos que una sociedad civil saludable y resiliente <span class="font-bold">requiere confianza en todos niveles,</span> entre donantes y sus grantees, entre organizaciones en redes y coaliciones, y entre los miembros de un equipo.</li>
          <li><span class="font-bold">Lideramos desde la empatía.</span> Valoramos la apertura y la vulnerabilidad en generar la confianza, inspiradas por valores feministas.</li>
          <li>Discutimos <span class="font-bold">abierta y honestamente</span> sobre las dinámicas de poder en juego en todas las dinámicas, para poder cambiarlas.</li>
          <li>Mantenemos a las <span class="font-bold">personas en el centro de las conversaciones</span> y creemos que todas las personas dentro de la sociedad civil puedan beneficiarse de un espacio y tiempo para reflexionar, aprender e innovar.</li>
          <li>Creemos que el <span class="font-bold">proceso</span> - de reflexión y aprendizaje - es igual de importante como el producto final.</li>
          <li>Creemos que una <span class="font-bold">buena facilitación de procesos</span> se adapta a ti, a tu contexto, y a tus desafíos, mientras te empuja fuera de tu zona de confort.</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <img class="mt-16 mx-auto w-full sm:w-4/5 md:w-2/3 lg:w-1/2" src="{{ "images/how-we-work.png" | absURL }}" alt="">
    </div>
  </div>
</section>
<section class="px-4 py-10 bg-darmouth-green">
  <div class="container flex flex-wrap justify-center items-center">
    <div class="relative">
      <img class="absolute -top-10 -left-12 h-36 object-contain md:object-fill" src="{{ "images/blue-scribble.png" | absURL }}" alt="">
      <h2 class="section-title relative text-linen lg:text-7xl">
        ¿Quiénes somos?
      </h2>
    </div>
    <a href="" class="site-link-white ml-8 mt-8 mb-0 sm:mb-8 hover:text-gold-metallic">{{ T "read_more" }}</a>
  </div>
</section>
{{ end }}
