{{ define "main" }}
{{ partial "page-header.html" (dict "title" "Qué hacemos" "description" "La Sobremesa es una consultora que crea espacios de reflexión y aprendizaje para sociedad civil en América Latina, a través de conversaciones, de recursos, y de sus servicios de acompañamiento." "image" "images/what-we-do-section.png")}}
<section class="px-4 py-16">
  <div class="container sm:w-10/12 px-4 py-8">
    <div class="section-col lg:w-2/3">
      <h2 class="section-title section-col-title text-chocolate">
        ¿En qué trabajamos?
      </h2>
      <p class="mt-10 section-description">
        La Sobremesa fue creada para tratar un problema que vimos una y otra vez en sociedad civil: estamos haciendo mucho con muy poco.
      </p>
      <div class="section-col-inner">
        <p class="my-4">
          Dada esta presión que la sociedad civil tiene que soportar – por los donantes, sus colegas, y sus beneficiarios – las organizaciones y los humanos dentro de ellas <span class="font-bold">necesitamos un momento para tomar una pausa, para reflexionar y aprender.</span> Y siempre mejor hacerlo en comunidad, con buena compañía, en La Sobremesa.
        </p>
        <p class="my-4">
          En La Sobremesa queremos una sociedad civil fuerte, resiliente, e innovadora, cuyas líderes, organizaciones y redes tienen todo lo que necesitan para poder enfocarse en crear un impacto positivo en América Latina.
        </p>
        <p class="my-4">
          Entonces, generamos espacios de aprendizaje, herramientas para la transformación y acompañamiento directo para las organizaciones y líderes de sociedad civil de América Latina, para que ellas puedan generar el impacto que buscan de forma innovadora, saludable y a su manera.
        </p>
        <p class="mt-8 section-description">
          ¿Por qué “La Sobremesa”?
        </p>
        <p class="my-4">
          En varios países de América Latina, una “sobremesa” es el momento después de una comida en donde se sigue <span class="font-bold">compartiendo y profundizando la conversación,</span> con un postre, un café o un traguito de tu elección. Es un espacio de apertura y de confianza, en donde se tienen las <span class="font-bold">conversaciones reales e importantes.</span> El momento puede ser relajado o bien provocar debates intensos, hasta caóticos. Pero siempre dentro de un <span class="font-bold">espacio colectivo.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container sm:w-10/12 px-4 py-8">
    <div class="section-col lg:w-2/3">
      <h2 class="section-title section-col-title text-chocolate">
        ¿Cómo trabajamos?
      </h2>
      <p class="mt-10 section-description text-lg lg:text-xl">
        Somos un grupo de diseñadores y facilitadores de procesos. Trabajamos con organizaciones de sociedad civil junto a ellas para comprender mejor las raíces de sus desafíos y para poder generar ideas y experimentar con soluciones.
      </p>
      <div class="my-4">
        <ul class="list-arrow">
          <li>Creemos que una sociedad civil saludable y resiliente requiere confianza en todos niveles, entre donantes y sus grantees, entre organizaciones en redes y coaliciones, y entre los miembros de un equipo.</li>
          <li>Lideramos desde la empatía. Valoramos la apertura y la vulnerabilidad en generar la confianza, inspiradas por valores feministas.</li>
          <li>Discutimos abierta y honestamente sobre las dinámicas de poder en juego en todas las dinámicas, para poder cambiarlas.</li>
          <li>Mantenemos a las personas en el centro de las conversaciones y creemos que todas las personas dentro de la sociedad civil puedan beneficiarse de un espacio y tiempo para reflexionar, aprender e innovar.</li>
          <li>Creemos que el proceso - de reflexión y aprendizaje - es igual de importante como el producto final.</li>
          <li>Creemos que una buena facilitación de procesos se adapta a ti, a tu contexto, y a tus desafíos, mientras te empuja fuera de tu zona de confort.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
