{{ define "main" }}
{{ partial "page-header.html" (dict "title" (T "label_what_we_do") "description" (T "page_what_we_do_desc") "image" "images/what-we-do-section.png")}}
<section class="px-4 py-16">
  <div class="container sm:w-10/12 px-4 py-8">
    <div class="what-we-do-content">
      {{ .Content | safeHTML }}
    </div>
  </div>
</section>
<section class="px-4 py-10 bg-darmouth-green">
  <div class="container flex flex-wrap justify-center items-center">
    <div class="relative">
      <img class="absolute -top-10 -left-12 h-36 object-contain md:object-fill" src="{{ "images/blue-scribble.png" | absURL }}" alt="">
      <h2 class="section-title relative text-linen lg:text-7xl">
        {{ T "label_who_we_are" }}
      </h2>
    </div>
    <a href="{{ relref . "quienes-somos" }}" class="site-link-white ml-8 mt-8 mb-0 sm:mb-8 hover:text-gold-metallic">{{ T "action_read_more" }}</a>
  </div>
</section>
{{ end }}
