{{ define "main" }}
{{ partial "page-header.html" (dict "title" (T "label_who_we_are") "description" (T "page_who_we_are_desc") "image" "images/who-section.png")}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="container px-4 py-16">
  <div class="text-center leading-tight">
    <p class="font-source-serif-pro text-xl md:text-2xl">
      {{ T "page_who_we_are_intro_team" }}
    </p>
    <h2 class="section-title with-stars">{{ T "label_the_team" }}</h2>
  </div>
</section>
<section class="container-md px-4 pb-24">
  <div class="space-y-24">
    {{ range $data.team }}
      {{ $member := dict "image" .image "name" .name "role" .role "about" ($.RenderString .about) "linkedin" .linkedin "instagram" .instagram "twitter" .twitter "readmore" .readmore }}
      {{ partial "team-member.html" $member }}
    {{ end }}
  </div>
</section>
<section class="px-4 py-24 bg-fire-opal">
  <div class="container">
    <div class="section-row items-center">
      <div class="section-col">
        <img class="mx-auto w-full md:w-2/3 lg:w-4/5 lg:ml-0" src="{{ (print "images/join-team-" .Site.Language.Lang ".svg") | absURL }}" alt="">
      </div>
      <div class="section-col text-white">
        <p class="text-2xl font-bold">
          {{ T "label_join" }}
        </p>
        <p class="mt-4 font-source-serif-pro text-xl">
          {{ T "page_who_we_are_empty_positions" }}
        </p>
        <!-- <ul class="mt-4 font-source-serif-pro text-xl">
          <li class="flex items-center space-x-3">
            <img class="w-4" src="{{ "images/yellow-star.svg" | absURL }}" alt="">
            <p>Research Assistant</p>
          </li>
          <li class="flex items-center space-x-3">
            <img class="w-4" src="{{ "images/yellow-star.svg" | absURL }}" alt="">
            <p>Comms / Content Creator</p>
          </li>
        </ul>
        <a href="" class="mt-12 site-link-white hover:text-gold-metallic">Aplicar a una vacante</a> -->
      </div>
    </div>
  </div>
</section>
<section class="container px-4 py-24">
  <div class="text-center leading-tight">
    <p class="font-source-serif-pro text-xl md:text-2xl">
      Según el desafío que enfrenta sociedad civil,
    </p>
    <h2 class="section-title with-stars">
      Nos apoyan y aconsejan
    </h2>
  </div>
  <div class="mt-24 grid gap-12 sm:grid-cols-2 lg:grid-cols-3">
    {{ range $data.guests }}
      {{ partial "guest-card.html" . }}
    {{ end }}
  </div>
</section>
<section class="px-4 py-10 bg-gold-metallic">
  <div class="container flex flex-wrap justify-center items-center">
    <div class="relative">
      <img class="absolute -top-10 -left-12 h-36 object-contain md:object-fill" src="{{ "images/fire-opal-footprint.png" | absURL }}" alt="">
      <h2 class="section-title relative text-linen lg:text-7xl">
        {{ T "label_what_we_do" }}
      </h2>
    </div>
    <a href="{{ relref . "que-hacemos" }}" class="site-link-white ml-8 mt-8 mb-0 sm:mb-8 hover:text-chocolate">{{ T "action_read_more" }}</a>
  </div>
</section>
{{ range $data.guests }}
  {{ partial "guest-modal.html" . }}
{{ end }}
{{ range $data.team }}
  {{ partial "team-modal.html" . }}
{{ end }}
{{ end }}

{{ define "js" }}
  {{ $do := resources.Get "js/do.js" | js.Build (dict "minify" true)}}
  <script src="{{ $do.Permalink }}"></script>
{{ end }}
