{{ define "main" }}
<section class="px-4 py-16">
  <div class="container">
    <div class="section-row section-row-reverse items-center">
      <div class="section-col">
        <img class="mx-auto w-2/3 lg:w-4/5" src="{{ "images/resources-section.png" | absURL }}" alt="">
      </div>
      <div class="section-col">
        <h1 class="section-title with-arrow">
          Recursos
        </h1>
        <p class="section-description mt-6">
          ¡Explora estos recursos, herramientas, guías, artículos y más! Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="px-4 py-16">
  <div class="container-lg">
    <h2 class="font-source-serif-pro text-4xl font-bold text-darmouth-green">
      Recursos principales
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {{ range .Site.Data.resources.principal }}
        {{ partial "resource-card.html" . }}
      {{ end }}
    </div>
    <h2 class="mt-20 font-source-serif-pro text-4xl font-bold text-darmouth-green">
      Todos los recursos
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {{ range .Site.Data.resources.all }}
        {{ partial "resource-card.html" . }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}