{{ define "main" }}
{{ partial "page-header.html" (dict "title" "Servicios" "description" "Si buscas un acompañamiento más profundo y hecho a tu medida, nosotras en La Sobremesa diseñamos y facilitamos un proceso de reflexión, aprendizaje, y transformación para ti." "image" "images/services-section.png")}}
<section class="px-4 py-16">
  <div class="container">
    <div class="section-row">
      <div class="section-col">
        <div class="offer section-col-inner">
          <h2 class="section-title-md static text-linen leading-extra-tight m-auto">
            ¿Qué ofrecemos?
          </h2>
        </div>
      </div>
      <div class="section-col">
        <div class="section-col-inner">
          <p class="section-description mt-6">
            Trabajamos junto a organizaciones, redes, y donantes para apoyarlos en sus necesidades. Cada acompañamiento es distinto, pero hemos identificado estas categorías y ejemplos de apoyo que te puedan inspirar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
