@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "MARTIN";
    src: url("/fonts/MARTIN-Regular.woff");
    font-weight: 400;
  }
  @font-face {
    font-family: "Beth Ellen";
    src: url("/fonts/BethEllen-Regular.ttf");
  }
}

@layer components {
  .container {
    @apply w-full mx-auto md:w-10/12;
  }
  .container-lg {
    @apply w-full mx-auto md:w-11/12;
  }
  .container-md {
    @apply w-full mx-auto md:w-8/12;
  }
  .container-sm {
    @apply w-full mx-auto md:w-6/12;
  }
  .site-link,
  .site-link-white {
    @apply font-bold text-base uppercase tracking-wide inline-block border-b relative pr-10;
  }
  .site-link {
    @apply border-chocolate text-chocolate;
  }
  .site-link-white {
    @apply border-white text-white;
  }
  .site-link:after,
  .site-link-white:after {
    @apply bg-contain bg-center bg-no-repeat absolute top-1/2 right-0 w-10 h-full transform -translate-y-1/2 translate-x-1/3;
    content: '';
  }
  .site-link:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE0NCIgaGVpZ2h0PSI3NC42NjciIHZpZXdCb3g9IjAgMCAxMDggNTYiPjxwYXRoIGQ9Ik0yMCAxMy43Yy0xLjcgMi4xLTQuMyA2LjQtNS44IDkuNS0xLjUgMy4xLTMuNSA1LjktNC40IDYuMi0xLjkuNC0yLjQgMy4xLS45IDQgMS44IDEuMSAyNC42IDcuMyAyNS40IDYuOS40LS4yLjctMS4yLjctMi4zIDAtMS40LTEuNy0yLjMtNy4yLTQuMWwtNy4zLTIuMiA0LjUtMWM4LjItMS44IDQyLTEuMiA2Mi44IDEuMkM5OC40IDMzIDEwNy4zIDM0IDEwNy42IDM0Yy4yIDAgLjQtMSAuNC0yLjMgMC0yLjItLjUtMi40LTE2LjctNC4xLTIxLjQtMi40LTUzLjQtMy4yLTY0LjMtMS43LTQuNi42LTguNS45LTguNy43LS43LS42IDIuMi01LjcgNS42LTEwIDEuNy0yLjEgMy4xLTQuNSAzLjEtNS4yIDAtMi43LTMuOS0xLjQtNyAyLjN6Ii8+PC9zdmc+");
  }
  .site-link-white:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE0NCIgaGVpZ2h0PSI3NC42NjciIHZpZXdCb3g9IjAgMCAxMDggNTYiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0yMCAxMy43Yy0xLjcgMi4xLTQuMyA2LjQtNS44IDkuNS0xLjUgMy4xLTMuNSA1LjktNC40IDYuMi0xLjkuNC0yLjQgMy4xLS45IDQgMS44IDEuMSAyNC42IDcuMyAyNS40IDYuOS40LS4yLjctMS4yLjctMi4zIDAtMS40LTEuNy0yLjMtNy4yLTQuMWwtNy4zLTIuMiA0LjUtMWM4LjItMS44IDQyLTEuMiA2Mi44IDEuMkM5OC40IDMzIDEwNy4zIDM0IDEwNy42IDM0Yy4yIDAgLjQtMSAuNC0yLjMgMC0yLjItLjUtMi40LTE2LjctNC4xLTIxLjQtMi40LTUzLjQtMy4yLTY0LjMtMS43LTQuNi42LTguNS45LTguNy43LS43LS42IDIuMi01LjcgNS42LTEwIDEuNy0yLjEgMy4xLTQuNSAzLjEtNS4yIDAtMi43LTMuOS0xLjQtNyAyLjN6Ii8+PC9zdmc+");
  }
  .numbered-item {
    @apply flex w-6 h-6 font-bold text-lg text-white border border-chocolate leading-none items-center justify-center flex-shrink-0;
  }
  .section-row {
    @apply flex flex-col space-y-12 lg:space-y-0 lg:flex-row;
  }
  .section-row-reverse {
    @apply lg:flex-row-reverse;
  }
  .section-col {
    @apply w-full lg:w-1/2;
  }
  .section-col-inner {
    @apply h-full flex flex-col;
  }
  .section-title {
    @apply uppercase text-6xl font-martin leading-extra-tight lg:text-8xl relative;
  }
  .section-col-title {
    @apply lg:text-7xl lg:leading-extra-tight;
  }
  .section-title-md {
    @apply uppercase text-3xl font-martin lg:text-5xl relative;
  }
  .section-description {
    @apply text-xl lg:text-2xl font-source-serif-pro font-semibold;
  }
  .with-arrow {
    @apply pb-16;
  }
  .with-arrow:after {
    @apply absolute left-0 bottom-0 w-full bg-contain bg-no-repeat h-10;
    content: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjUxNy4zMzMiIGhlaWdodD0iMTEyIiB2aWV3Qm94PSIwIDAgMzg4IDg0Ij48cGF0aCBkPSJNMzA3LjYgMTMuNmMtMi4xIDItMiA0LjcuMiA2LjYuOS44IDcuNCA0LjggMTQuNCA4LjkgNyA0IDEyLjYgNy41IDEyLjQgNy43LS4yLjItOC42LS4yLTE4LjctLjgtMzctMi4xLTc0LjctMy0xMzEuOS0zLTc0LjEgMC0xNTEuNiAyLjYtMTU0LjcgNS4yLS43LjYtMS4zIDIuMS0xLjMgMy4zIDAgNC41IDEuNSA0LjggMjIuMiAzLjYgNzcuOC00LjMgMjA2LjMtNCAyNzguNy43bDEwLjQuNy0xMC4yIDYuOGMtNS42IDMuNy0xMC40IDcuNC0xMC43IDguMi0uOSAyLjIgMS41IDUuNSA0IDUuNSAxLjMgMCA5LjItNC41IDE3LjYtMTAgOC41LTUuNSAxNS45LTEwIDE2LjQtMTAgMiAwIDUuNi00LjggNS42LTcuMyAwLTIuOS02LjUtNy40LTIyLTE1LjItOC41LTQuMy0yOC4zLTEyLjUtMzAuMS0xMi41LS40IDAtMS41LjctMi4zIDEuNnoiLz48L3N2Zz4=");
  }
  .resource-card {
    @apply border-2 border-darmouth-green px-6 py-4 flex flex-col items-start;
  }
  .resource-body {
    @apply flex-grow mb-6;
  }
  .resource-type {
    @apply font-bold text-darmouth-green;
  }
  .resource-title {
    @apply font-source-serif-pro font-semibold text-2xl leading-none mt-2;
  }
  .resource-source {
    @apply text-lg italic;
  }
  .page-header-container {
    @apply w-full mx-auto sm:w-10/12 lg:w-10/12;
  }
  .page-row {
    @apply flex flex-col space-y-12 md:space-y-0 md:flex-row;
  }
  .page-col {
    @apply w-full md:w-1/2;
  }
  .logo-lg {
    @apply h-8 m-4 md:m-8;
  }
  .logo-md {
    @apply h-16 m-4 md:m-8;
  }
  .logo-sm {
    @apply h-24 m-4 md:m-8;
  }
  .offer {
    background-image: url('../images/offer.svg');
    background-size: contain;
    beckground-position: center;
    background-repeat: no-repeat;
  }
  .accordion-header {
    @apply relative w-full py-2 border-b-2 border-chocolate font-bold text-left text-2xl;
  }
  .accordion-item .accordion-header:after {
    @apply absolute top-1/2 right-0 transform -translate-y-1/2 w-6 h-6 bg-center bg-contain bg-no-repeat;
    content: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNlYTU3NDUiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmY0ZTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMTUgOHYxNE04IDE1aDE0Ii8+PC9zdmc+");
  }
  .accordion-item.is-open .accordion-header:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNlYTU3NDUiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmY0ZTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNOCAxNWgxNCIvPjwvc3ZnPg==");
  }
  .accordion-item .accordion-content {
    @apply py-0 max-h-0 overflow-hidden;
    transition: all 0.3s ease-in;
  }
  .accordion-item.is-open .accordion-content {
    @apply py-12;
    max-height: initial;
  }
  .list-arrow {
    @apply list-none pl-8 space-y-2;
  }
  .list-arrow li {
    @apply relative;
  }
  .list-arrow li:before {
    @apply absolute top-1/2 -left-8 transform -translate-y-1/2 w-8 h-8 bg-center bg-contain bg-no-repeat;
    content: '';
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iNDUuMDAwMDAwcHQiIGhlaWdodD0iMjQuMDAwMDAwcHQiIHZpZXdCb3g9IjAgMCA0NS4wMDAwMDAgMjQuMDAwMDAwIgogcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCI+Cgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwyNC4wMDAwMDApIHNjYWxlKDAuMTAwMDAwLC0wLjEwMDAwMCkiCmZpbGw9IiMwMDAwMDAiIHN0cm9rZT0ibm9uZSI+CjxwYXRoIGQ9Ik0zNDAgMTkzIGMwIC01IDcgLTE3IDE1IC0yNyA4IC0xMSAxNSAtMjIgMTUgLTI1IDAgLTMgLTUzIC02IC0xMTcKLTYgLTE0MCAwIC0yNTMgLTEyIC0yNTMgLTI3IDAgLTcgMTQgLTggMzcgLTQgNzYgMTMgMzAwIDE5IDMwNiA5IDQgLTYgLTQgLTE0Ci0xOCAtMTcgLTE0IC00IC0yMyAtMTEgLTIwIC0xNiA1IC04IDkwIDExIDEwMiAyNCA4IDcgLTQ2IDk2IC01NyA5NiAtNiAwIC0xMAotMyAtMTAgLTd6Ii8+CjwvZz4KPC9zdmc+Cg==");
  }
}
