@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Source Serif Pro";
    src: url("/fonts/SourceSerifPro-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "MARTIN";
    src: url("/fonts/MARTIN-Regular.woff");
    font-weight: 400;
  }
  @font-face {
    font-family: "Beth Ellen";
    src: url("/fonts/BethEllen-Regular.ttf");
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-ExtraBold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Ramona";
    src: url("/fonts/Ramona-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Ramona";
    src: url("/fonts/Ramona-Bold.ttf");
    font-weight: 700;
  }
}

@layer components {
  .modal-wrapper {
    @apply fixed top-0 left-0 w-full h-full z-30 overflow-y-auto p-4 bg-opacity-80 bg-chocolate hidden md:items-center md:justify-center;
  }
  .modal-wrapper.is-open {
    @apply block md:flex;
  }
  .container {
    @apply w-full mx-auto md:w-10/12;
  }
  .container-lg {
    @apply w-full mx-auto md:w-11/12;
  }
  .container-md {
    @apply w-full mx-auto md:w-8/12;
  }
  .container-sm {
    @apply w-full mx-auto md:w-6/12;
  }
  .courses-container {
    @apply max-w-screen-xl px-6 lg:px-0 mx-auto w-full;
  }
  .site-link,
  .site-link-white {
    @apply font-bold text-base uppercase tracking-wide inline-block border-b relative pr-10;
  }
  .site-link {
    @apply border-chocolate text-chocolate;
  }
  .site-link-white {
    @apply border-white text-white;
  }
  .site-link:after,
  .site-link-white:after {
    @apply bg-contain bg-center bg-no-repeat absolute top-1/2 right-0 w-10 h-full transform -translate-y-1/2 translate-x-1/3;
    content: "";
  }
  .site-link:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE0NCIgaGVpZ2h0PSI3NC42NjciIHZpZXdCb3g9IjAgMCAxMDggNTYiPjxwYXRoIGQ9Ik0yMCAxMy43Yy0xLjcgMi4xLTQuMyA2LjQtNS44IDkuNS0xLjUgMy4xLTMuNSA1LjktNC40IDYuMi0xLjkuNC0yLjQgMy4xLS45IDQgMS44IDEuMSAyNC42IDcuMyAyNS40IDYuOS40LS4yLjctMS4yLjctMi4zIDAtMS40LTEuNy0yLjMtNy4yLTQuMWwtNy4zLTIuMiA0LjUtMWM4LjItMS44IDQyLTEuMiA2Mi44IDEuMkM5OC40IDMzIDEwNy4zIDM0IDEwNy42IDM0Yy4yIDAgLjQtMSAuNC0yLjMgMC0yLjItLjUtMi40LTE2LjctNC4xLTIxLjQtMi40LTUzLjQtMy4yLTY0LjMtMS43LTQuNi42LTguNS45LTguNy43LS43LS42IDIuMi01LjcgNS42LTEwIDEuNy0yLjEgMy4xLTQuNSAzLjEtNS4yIDAtMi43LTMuOS0xLjQtNyAyLjN6Ii8+PC9zdmc+");
  }
  .site-link-white:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE0NCIgaGVpZ2h0PSI3NC42NjciIHZpZXdCb3g9IjAgMCAxMDggNTYiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0yMCAxMy43Yy0xLjcgMi4xLTQuMyA2LjQtNS44IDkuNS0xLjUgMy4xLTMuNSA1LjktNC40IDYuMi0xLjkuNC0yLjQgMy4xLS45IDQgMS44IDEuMSAyNC42IDcuMyAyNS40IDYuOS40LS4yLjctMS4yLjctMi4zIDAtMS40LTEuNy0yLjMtNy4yLTQuMWwtNy4zLTIuMiA0LjUtMWM4LjItMS44IDQyLTEuMiA2Mi44IDEuMkM5OC40IDMzIDEwNy4zIDM0IDEwNy42IDM0Yy4yIDAgLjQtMSAuNC0yLjMgMC0yLjItLjUtMi40LTE2LjctNC4xLTIxLjQtMi40LTUzLjQtMy4yLTY0LjMtMS43LTQuNi42LTguNS45LTguNy43LS43LS42IDIuMi01LjcgNS42LTEwIDEuNy0yLjEgMy4xLTQuNSAzLjEtNS4yIDAtMi43LTMuOS0xLjQtNyAyLjN6Ii8+PC9zdmc+");
  }
  .numbered-item {
    @apply flex w-6 h-6 font-bold text-lg text-white border border-chocolate leading-none items-center justify-center flex-shrink-0;
  }
  .section-row {
    @apply flex flex-col space-y-12 lg:space-y-0 lg:flex-row;
  }
  .section-row-reverse {
    @apply lg:flex-row-reverse;
  }
  .section-col {
    @apply w-full lg:w-1/2;
  }
  .section-col-inner {
    @apply h-full flex flex-col;
  }
  .section-title {
    @apply uppercase text-7xl font-martin leading-extra-tight lg:text-8xl relative;
  }
  .section-col-title {
    @apply text-5xl lg:text-6xl lg:leading-extra-tight;
  }
  .section-title-md {
    @apply uppercase text-3xl font-martin lg:text-5xl relative;
  }
  .section-description {
    @apply text-xl lg:text-2xl font-source-serif-pro font-semibold;
  }
  .with-arrow {
    @apply pb-16;
  }
  .with-arrow-red {
    @apply relative pb-5;
  }
  .with-arrow:after {
    @apply absolute left-0 bottom-0 w-full bg-contain bg-no-repeat h-10;
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjUxNy4zMzMiIGhlaWdodD0iMTEyIiB2aWV3Qm94PSIwIDAgMzg4IDg0Ij48cGF0aCBkPSJNMzA3LjYgMTMuNmMtMi4xIDItMiA0LjcuMiA2LjYuOS44IDcuNCA0LjggMTQuNCA4LjkgNyA0IDEyLjYgNy41IDEyLjQgNy43LS4yLjItOC42LS4yLTE4LjctLjgtMzctMi4xLTc0LjctMy0xMzEuOS0zLTc0LjEgMC0xNTEuNiAyLjYtMTU0LjcgNS4yLS43LjYtMS4zIDIuMS0xLjMgMy4zIDAgNC41IDEuNSA0LjggMjIuMiAzLjYgNzcuOC00LjMgMjA2LjMtNCAyNzguNy43bDEwLjQuNy0xMC4yIDYuOGMtNS42IDMuNy0xMC40IDcuNC0xMC43IDguMi0uOSAyLjIgMS41IDUuNSA0IDUuNSAxLjMgMCA5LjItNC41IDE3LjYtMTAgOC41LTUuNSAxNS45LTEwIDE2LjQtMTAgMiAwIDUuNi00LjggNS42LTcuMyAwLTIuOS02LjUtNy40LTIyLTE1LjItOC41LTQuMy0yOC4zLTEyLjUtMzAuMS0xMi41LS40IDAtMS41LjctMi4zIDEuNnoiLz48L3N2Zz4=");
  }
  .with-arrow-red:after {
    @apply absolute left-0 bottom-0 w-48 bg-contain bg-no-repeat h-5;
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjExNy4zMzMiIGhlaWdodD0iMzAuNjY3IiB2aWV3Qm94PSIwIDAgODggMjMiPjxwYXRoIGZpbGw9IiNlYTU3NDUiIGQ9Ik03My41IDUuOWMuMy41IDEuOSAxLjMgMy43IDEuNiAyLjcuNiAyLjkuOSAxLjQgMS43LTMgMS43LTE4LjggMS40LTQxLjEtLjZDMjQuMiA3LjQgMTQuNCA3IDEwLjcgNy40Yy04LjUgMS4xLTYuMiAxLjkgNC41IDEuNyA1LjEtLjEgMTcuNi41IDI3LjggMS41IDExLjMgMSAyMi41IDEuNCAyOC42IDEuMSA5LjYtLjUgMTAuMi0uNSA5LjcgMS4zLS4zIDEtMS40IDIuNi0yLjQgMy42LTIuMSAxLjgtMi41IDMuNC0uOSAzLjQuNSAwIDIuMi0yLjEgMy43LTQuNyAxLjUtMi43IDMuMS01IDMuNS01LjEgMi0uOS40LTIuMy00LjQtMy43LTUuOS0xLjctOC4yLTEuOS03LjMtLjZ6Ii8+PC9zdmc+");
  }
  .with-stars {
    @apply inline-block;
  }
  .with-stars:after,
  .with-stars:before {
    @apply absolute transform bg-center bg-no-repeat bg-contain h-full w-28;
    content: "";
    background-image: url("/images/stars.svg");
  }
  .with-stars:after {
    @apply top-full left-1/2 -translate-x-1/2 md:top-0 md:left-auto md:-translate-x-0;
  }
  .with-stars:before {
    @apply hidden md:block -left-28;
  }
  .resource-card {
    @apply border-2 px-6 py-4 flex flex-col w-full;
  }
  .resource-image img {
    @apply h-32 w-auto;
  }
  .resource-body {
    @apply flex-grow;
  }
  .resource-type {
    @apply font-bold;
  }
  .resource-title {
    @apply font-source-serif-pro font-semibold text-xl leading-none mt-2;
  }
  .resource-source {
    @apply text-base italic;
  }
  .resource-buttons {
    @apply mt-6 flex flex-row flex-wrap;
  }
  .page-header-container {
    @apply w-full mx-auto sm:w-10/12 lg:w-10/12;
  }
  .page-row {
    @apply flex flex-col space-y-12 md:space-y-0 md:flex-row;
  }
  .page-col {
    @apply w-full md:w-1/2;
  }
  .logo-lg {
    @apply h-8 m-4 md:m-8;
  }
  .logo-md {
    @apply h-16 m-4 md:m-8;
  }
  .logo-sm {
    @apply h-24 m-4 md:m-8;
  }
  .accordion-header {
    @apply relative w-full py-2 border-b-2 border-chocolate font-bold text-left text-2xl;
  }
  .accordion-item .accordion-header:after {
    @apply absolute top-1/2 right-0 transform -translate-y-1/2 w-6 h-6 bg-center bg-contain bg-no-repeat;
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNlYTU3NDUiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmY0ZTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMTUgOHYxNE04IDE1aDE0Ii8+PC9zdmc+");
  }
  .accordion-item.is-open .accordion-header:after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNlYTU3NDUiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNmZmY0ZTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNOCAxNWgxNCIvPjwvc3ZnPg==");
  }
  .accordion-item .accordion-content {
    @apply py-12 hidden;
  }
  .accordion-item.is-open .accordion-content {
    @apply block;
  }
  .list-arrow,
  .what-we-do-content ul {
    @apply list-none pl-10 space-y-4;
  }
  .list-arrow li,
  .what-we-do-content ul li {
    @apply relative;
  }
  .list-arrow li:before,
  .what-we-do-content ul li:before {
    @apply absolute -left-10 transform -translate-y-1 w-8 h-8 bg-center bg-contain bg-no-repeat;
    content: "";
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDIwMDEwOTA0Ly9FTiIKICJodHRwOi8vd3d3LnczLm9yZy9UUi8yMDAxL1JFQy1TVkctMjAwMTA5MDQvRFREL3N2ZzEwLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4wIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiB3aWR0aD0iNDUuMDAwMDAwcHQiIGhlaWdodD0iMjQuMDAwMDAwcHQiIHZpZXdCb3g9IjAgMCA0NS4wMDAwMDAgMjQuMDAwMDAwIgogcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCI+Cgo8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwyNC4wMDAwMDApIHNjYWxlKDAuMTAwMDAwLC0wLjEwMDAwMCkiCmZpbGw9IiMwMDAwMDAiIHN0cm9rZT0ibm9uZSI+CjxwYXRoIGQ9Ik0zNDAgMTkzIGMwIC01IDcgLTE3IDE1IC0yNyA4IC0xMSAxNSAtMjIgMTUgLTI1IDAgLTMgLTUzIC02IC0xMTcKLTYgLTE0MCAwIC0yNTMgLTEyIC0yNTMgLTI3IDAgLTcgMTQgLTggMzcgLTQgNzYgMTMgMzAwIDE5IDMwNiA5IDQgLTYgLTQgLTE0Ci0xOCAtMTcgLTE0IC00IC0yMyAtMTEgLTIwIC0xNiA1IC04IDkwIDExIDEwMiAyNCA4IDcgLTQ2IDk2IC01NyA5NiAtNiAwIC0xMAotMyAtMTAgLTd6Ii8+CjwvZz4KPC9zdmc+Cg==");
  }

  .dropdown:hover {
    @apply border-chocolate;
  }

  .dropdown ul {
    display: none;
  }

  .dropdown:hover ul {
    display: block;
  }

  .slider-wrapper {
    @apply relative px-10;
  }
  .slider-next,
  .slider-prev {
    @apply absolute top-1/2 transform -translate-y-1/2 w-10 h-10 bg-center bg-contain bg-no-repeat cursor-pointer;
  }
  .slider-next {
    @apply right-0;
    background-image: url("/images/slider-next.svg");
  }
  .slider-prev {
    @apply left-0;
    background-image: url("/images/slider-prev.svg");
  }
  .slider-prev.swiper-button-disabled,
  .slider-next.swiper-button-disabled {
    @apply opacity-30 cursor-not-allowed;
  }
  .slider-pagination {
    @apply flex items-center justify-center space-x-2 mt-12;
  }
  .slider-pagination .swiper-pagination-bullet {
    @apply bg-transparent border border-fire-opal opacity-100;
  }
  .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-fire-opal;
  }
  .home-banner {
    @apply bg-left-top bg-contain bg-no-repeat pt-36;
  }
  .card-filter:hover img {
    filter: brightness(0.6);
  }
  .circle {
    background-image: url("/images/fire-opal-line.png");
    @apply bg-bottom bg-cover bg-no-repeat py-4;
  }
  .what-we-do-content blockquote {
    @apply mt-10 text-xl lg:text-2xl font-source-serif-pro font-semibold;
  }
  .what-we-do-content p {
    @apply my-6;
  }
  .what-we-do-content img {
    @apply mt-12 w-2/3 md:w-1/2;
  }
  .what-we-do-content ul {
    @apply my-6;
  }
  .md-content a {
    @apply underline;
  }
}
