<div class="accordion">
  <div class="accordion-item is-open">
    <button class="accordion-header">
      Para una organización <span class="text-fire-opal">resiliente</span> y <span class="text-fire-opal">fuerte</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseño y facilitación de <span class="font-bold">retiros</span></li>
        <li>Procesos de <span class="font-bold">aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> en reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para un <span class="text-fire-opal">equipo sano</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseño y facilitación de <span class="font-bold">retiros</span></li>
        <li>Procesos de <span class="font-bold">aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> en reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para el <span class="text-fire-opal">(re)diseño</span> de una red
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseño y facilitación de <span class="font-bold">retiros</span></li>
        <li>Procesos de <span class="font-bold">aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> en reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para <span class="text-fire-opal">(des)aprender</span> sobre tus procesos como donante
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseño y facilitación de <span class="font-bold">retiros</span></li>
        <li>Procesos de <span class="font-bold">aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> en reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para una organización <span class="text-fire-opal">sostenible</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseño y facilitación de <span class="font-bold">retiros</span></li>
        <li>Procesos de <span class="font-bold">aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> en reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
</div>