<div class="accordion">
  <div class="accordion-item is-open">
    <button class="accordion-header">
      Para una organización <span class="text-fire-opal">resiliente</span> y <span class="text-fire-opal">fuerte</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Apoyar una <span class="font-bold">transición</span> de organización o de liderazgo</li>
        <li>Renovar (o crear) una <span class="font-bold">Mision, Vision, y Teoría de Cambio</span></li>
        <li>Repensar <span class="font-bold">estrategias programáticas</span> para que sean mas resilientes</li>
        <li>Integrar <span class="font-bold">procesos de diseño</span> dentro de su trabajo, programas y proyectos</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para un <span class="text-fire-opal">equipo sano</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Diseñar y facilitar <span class="font-bold">retiros</span></li>
        <li><span class="font-bold">Procesos de aprendizaje y de retroalimentación</span> entre todo el equipo</li>
        <li>Acompañamiento a <span class="font-bold">líderes</span> para reflexionar sobre sus estilos y procesos de liderazgo</li>
        <li>Talleres y apoyo en <span class="font-bold">comunicación no violenta</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para una organización <span class="text-fire-opal">sostenible</span>
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Apoyar en repensar e implementar un <span class="font-bold">plan de financiamiento</span></li>
        <li><span class="font-bold"> Investigar diferentes formas de sostener</span> tu organización, experimentando con nuevos modeles e ideas</li>
        <li>Ayudar en conocer <span class="font-bold">el ecosistema de donantes</span>, haciendo "inteligencia del donante"</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para el <span class="text-fire-opal">rediseño</span> de una red
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Crear <span class="font-bold">procesos de aprendizaje</span> dentro de la red que son abiertos, horizontales y colaborativos</li>
        <li>Implementar procesos diversos que son co-creados y basados en <span class="font-bold">los objetivos y valores de la red</span></li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      Para <span class="text-fire-opal">(des)aprender</span> sobre tus procesos como donante
    </button>
    <div class="accordion-content">
      <ul class="list-arrow font-source-serif-pro">
        <li>Apoyar como <span class="font-bold">socios de aprendizaje</span> (<span class="italic">learning partner</span>) para tu fundación, en tus programas y con tus <span class="italic">grantees</span></li>
        <li>Acompañar tus procesos de evaluación para luego <span class="font-bold">incorporar los aprendizajes</span> dentro de tus prácticas</li>
      </ul>
    </div>
  </div>
</div>
