<div class="accordion flex flex-col gap-2">
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_first_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_second_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_third_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_fourth_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_fifth_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_sixth_service" | safeHTML }}
    </button>
  </div>
  <div class="accordion-item">
    <button class="accordion-header">
      {{ T "page_accompaniment_seventh_service" | safeHTML }}
    </button>
  </div>
</div>