<div class="slider-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{ range .experiences }}
        <div class="swiper-slide">
          <div class="container">
            <div class="section-row items-center space-x-12">
              <div class="section-col lg:w-1/3">
                <img src="{{ .image | absURL }}" alt="">
              </div>
              <div class="section-col lg:w-2/3">
                <div class="leading-extra-tight">
                  <h3 class="font-source-serif-pro text-fire-opal text-2xl">
                    {{ .client }}
                  </h3>
                  <a href="{{ .web }}" target="_blank" class="font-bold">
                    {{- .web -}}
                  </a>
                </div>
                <div class="mt-6 leading-tight">
                  {{ .exp | markdownify }}
                  <div class="mt-4">
                    <p class="font-bold">{{ .name }}</p>
                    <p>{{ .role }} de <a href="{{ .web }}" class="underline" target="_blank">{{ .client }}</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="slider-prev"></div>
  <div class="slider-next"></div>
  <div class="slider-pagination"></div>
</div>
