<div class="swiper-slide slider-wrapper-experiencias">
  <div class="container">
    <div class="section-row items-center lg:space-x-12">
      <div class="section-col lg:w-1/3">
        <img src="{{ .Params.logo | absURL }}" alt="">
      </div>
      <div class="section-col lg:w-2/3">
        <div class="leading-extra-tight">
          <h3 class="font-source-serif-pro text-fire-opal text-2xl">
            {{ .Params.client }}
          </h3>
          <a href="{{ .Params.web }}" target="_blank" class="font-bold">
            {{- .Params.web -}}
          </a>
        </div>
        <div class="mt-6 leading-tight space-y-4">
          {{ .Content }}
        </div>
        <div class="mt-4">
          <p class="font-bold">{{ .Params.name }}</p>
          <p>{{ .Params.role }} de <a href="{{ .Params.web }}" class="underline" target="_blank">
              {{ .Params.client }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>