<footer class="bg-fire-opal text-linen p-10">
  <div class="flex flex-wrap space-y-4 md:space-y-0">
    <div class="w-full md:w-1/2 lg:w-3/12">
      <div class="h-full flex flex-col justify-center">
        <img class="w-64" src="{{ "images/logo-white.png" | absURL }}" alt="">
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-2/12">
      <div class="h-full flex flex-col justify-center">
        <ul class="uppercase font-bold tracking-wide text-sm">
          {{ range .Site.Menus.main }}
            {{ if .Children }}
              {{ range .Children }}
                <li>
                  <a class="hover:text-chocolate" href="{{.URL}}">{{ .Title }}</a>
                </li>
              {{ end }}
            {{ else }}
              <li>
                <a class="hover:text-chocolate" href="{{.URL}}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end}}
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-4/12">
      <div class="h-full flex flex-col justify-center text-center">
        <p class="font-semibold text-lg tracking-wide lg:text-xl">
          {{- T "label_receive_newsletter" -}}
        </p>
        <div class="ml-form-embed" data-account="3211705:h2j7b7h2w6" data-form="4227259:m9a5r7"></div>
        <form class="my-4" action="/">
          <input class="mr-2 bg-linen text-chocolate px-4 py-2 border border-linen placeholder-chocolate" type="email" id="email" name="email" placeholder="e-mail">
          <input class="bg-fire-opal text-chocolate font-bold py-2 px-2 border border-chocolate cursor-pointer hover:bg-chocolate hover:text-linen" type="submit" value="OK">
        </form>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-3/12 h-64 lg:h-auto">
      <div class="h-full flex flex-col justify-center relative">
        <img class="absolute top-0 left-0 w-full h-full object-contain" src="{{ "images/chat-bubble.svg" | absURL }}" alt="">
        <div class="text-chocolate font-source-serif-pro text-center relative left-5">
          <h3 class="font-bold text-2xl">{{ T "label_contact_us" }}</h3>
          <p class="font-semibold">
            <a href="mailto:hola@sobremesa.com">hola@sobremesa.com</a>
          </p>
          <ul class="mt-2 flex justify-center items-center space-x-3">
            <li>
              <a href="" target="_blank">
                <img src="{{ "images/twitter.svg" | absURL }}" alt="">
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <img src="{{ "images/facebook.svg" | absURL }}" alt="">
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <img src="{{ "images/instagram.svg" | absURL }}" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
