<nav class="h-32 py-2 px-4 flex flex-wrap justify-between content-start uppercase font-source-sans-pro font-bold tracking-wide text-sm">
  <div class="h-full flex flex-col justify-center">
    {{ $currentPage := .Page.Params.layout }}
    {{ if eq $currentPage "quienes-somos" }}
      <img class="h-full w-auto" src="{{ "images/logo-who-we-are.png" | absURL }}" alt="">
    {{ else if eq $currentPage "que-hacemos"}}
      <img class="h-full w-auto" src="{{ "images/logo-what-we-do.png" | absURL }}" alt="">
    {{ else if eq $currentPage "herramientas"}}
      <img class="h-full w-auto" src="{{ "images/logo-tools.png" | absURL }}" alt="">
    {{ else if eq $currentPage "espacios"}}
      <img class="h-full w-auto" src="{{ "images/logo-spaces.png" | absURL }}" alt="">
    {{ else if eq $currentPage "acompanamiento"}}
      <img class="h-full w-auto" src="{{ "images/logo-acompaniment.png" | absURL }}" alt="">
    {{ else if eq $currentPage "contacto"}}
      <img class="h-full w-auto" src="{{ "images/logo-contact.png" | absURL }}" alt="">
    {{ else }}
      <img class="h-full w-auto" src="{{ "images/logo.png" | absURL }}" alt="">
    {{ end }}
  </div>
  <ul class="lg:flex list-none hidden">
    {{ range .Site.Menus.main }}
      <li>
        {{ if .Children }}
          <div class="py-4 dropdown border-2 border-linen text-center cursor-default" href="">
            <a class="py-0 px-4">{{ .Title }}</a>
            <ul>
              {{ range .Children }}
                <li class="my-2">
                  <a class="hover:text-{{ with .Page.Params.color }}{{ . }}{{ end }}" href="{{ .URL }}">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ else }}
          <div class="py-4 px-7 border-t-2 border-linen">
            <a class="hover:text-{{ with .Page.Params.color }}{{ . }}{{ end }}" href="{{ .URL }}">
              {{ .Title }}
            </a>
          </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
  <ul class="my-2 self-start border-chocolate border-2 lg:flex hidden">
    {{ $current_lang := .Language }}
    {{ range $.Site.Home.AllTranslations }}
      <li class="hover:text-gold-metallic">
        <a href="{{ .Permalink }}" class="inline-block py-1 px-2 {{ if eq .Language $current_lang }}bg-chocolate text-linen cursor-not-allowed{{ end }}">
          <span>{{ .Language }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
  <div class="h-20 self-start mt-4 mr-4 py-4 px-1 hover:text-gold-metallic lg:hidden block cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-full stroke-current icon icon-tabler icon-tabler-menu-2" viewBox="0 0 24 24" stroke-width="1.5">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="4" y1="6" x2="20" y2="6" />
      <line x1="4" y1="12" x2="20" y2="12" />
      <line x1="4" y1="18" x2="20" y2="18" />
    </svg>
  </div>
</nav>
