{{- $showHeading := true -}}
{{- if and . (reflect.IsMap .) -}}
  {{- if isset . "show_heading" -}}
    {{- $showHeading = .show_heading -}}
  {{- end -}}
{{- end -}}
<div id="mlb2-38707182" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-38707182 bg-linen text-chocolate font-source-serif-pro mx-auto max-w-md w-full p-5 sm:p-6">
  <div class="ml-form-embedBody row-form">
    {{ if $showHeading }}
    <div class="text-center">
      <h4 class="font-bold text-xl sm:text-2xl mb-2">{{ T "label_subscribe_newsletter" }}</h4>
      <p class="text-sm sm:text-base mb-4">{{ T "page_contact_subscribe" }}</p>
    </div>
    {{ end }}
    <form class="ml-block-form" action="https://dashboard.mailerlite.com/jsonp/1608070/forms/182381205556036687/subscribe" data-code="" method="post" target="_blank">
      <input type="hidden" name="fields[origen]" value="Sitio Web La Sobremesa">
      <input type="hidden" name="ml-submit" value="1">
      <input type="hidden" name="anticsrf" value="true">
      <div class="flex flex-col space-y-3">
        <input type="email" required aria-label="Email" class="form-control w-full bg-white text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate focus:outline-none" name="fields[email]" placeholder="Email" autocomplete="email">
        <button type="submit" class="w-full bg-fire-opal hover:bg-chocolate transition-colors text-white font-semibold uppercase tracking-wide py-2 px-4 cursor-pointer">{{ T "action_subscribe" }}</button>
        <button disabled="disabled" style="display:none" type="button" class="loading">
          <div class="ml-form-embedSubmitLoad"></div>
          <span class="sr-only">Loading...</span>
        </button>
      </div>
    </form>
  </div>
  <div class="ml-form-successBody row-success" style="display: none;">
    <div class="ml-form-successContent text-center">
      <h4 class="text-chocolate font-semibold text-2xl">¡Gracias!</h4>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_38707182(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-38707182 .row-success").show(),r(".ml-subscribe-form-38707182 .row-form").hide()}
</script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v95037e5bac78f29ed026832ca21a7c7b" type="text/javascript"></script>
