{{- $showHeading := true -}}
{{- if and . (reflect.IsMap .) -}}
  {{- if isset . "show_heading" -}}
    {{- $showHeading = .show_heading -}}
  {{- end -}}
{{- end -}}
<div id="mlb2-4227259" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4227259 bg-linen text-chocolate font-source-serif-pro mx-auto max-w-md w-full p-5 sm:p-6">
  <div class="ml-form-embedBody row-form">
    {{ if $showHeading }}
    <div class="text-center">
      <h4 class="font-bold text-xl sm:text-2xl mb-2">{{ T "label_subscribe_newsletter" }}</h4>
      <p class="text-sm sm:text-base mb-4">{{ T "page_contact_subscribe" }}</p>
    </div>
    {{ end }}
    <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/m9a5r7" data-code="m9a5r7" method="post" target="_blank">
      <input type="hidden" name="ml-submit" value="1">
      <input type="hidden" name="anticsrf" value="true">
      <div class="flex flex-col space-y-3">
        <input type="email" required aria-label="Email" class="w-full bg-white text-chocolate px-4 py-2 border border-chocolate placeholder-chocolate focus:outline-none" name="fields[email]" placeholder="Email" autocomplete="email">
        <button type="submit" class="w-full bg-fire-opal hover:bg-chocolate transition-colors text-white font-semibold uppercase tracking-wide py-2 px-4 cursor-pointer">{{ T "action_subscribe" }}</button>
        <button disabled="disabled" style="display:none" type="button" class="loading">
          <div class="ml-form-embedSubmitLoad"></div>
          <span class="sr-only">Loading...</span>
        </button>
      </div>
    </form>
  </div>
  <div class="ml-form-successBody row-success" style="display: none;">
    <div class="ml-form-successContent text-center">
      <h4 class="text-chocolate font-semibold text-2xl">¡Gracias!</h4>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_4227259(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4227259 .row-success").show(),r(".ml-subscribe-form-4227259 .row-form").hide()}
</script>
<img src="https://track.mailerlite.com/webforms/o/4227259/m9a5r7?v1625006834" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>
