<div class="resource-card
  {{ if eq "Guía" .type }}
    border-darmouth-green
  {{ else if eq "Sitio web" .type }}
    border-maximum-green
  {{ else }}
    border-pine-green
  {{ end }}">
  <div class="resource-body">
    <span class="resource-type
      {{ if eq "Guía" .type }}
        text-darmouth-green
      {{ else if eq "Sitio web" .type }}
        text-maximum-green
      {{ else }}
        text-pine-green
      {{ end }}">
      {{ .type }}</span>
    <h3 class="resource-title">
      {{ .title }}
    </h3>
    <p class="resource-source">
      {{ .source }}
    </p>
  </div>
  <a href="{{ .url }}" class="text-white font-bold text-lg px-4 py-2
    {{ if eq "Guía" .type }}
      bg-darmouth-green
    {{ else if eq "Sitio web" .type }}
      bg-maximum-green
    {{ else }}
      bg-pine-green
    {{ end }}">
    Ver más
  </a>
</div>
