{{ $slug := .Title | urlize }}
<div
  class="modal-wrapper"
  id="{{ .Params.resource_url }}"
  data-slug="{{ $slug }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="resource-name"
  aria-describedby="resource-answer"
>
  <div class="lg:max-w-5xl m-auto w-full relative">
    <div class="bg-linen p-8 pt-20 lg:px-24 lg:pt-24 lg:pb-10">
      <div class="flex flex-col md:flex-row md:gap-x-10 gap-y-4">
        <div class="md:w-5/12">
          <div class="md:aspect-w-1 md:aspect-h-1 border-2 border-chocolate">
            <img
              class="w-full h-full"
              src="{{ .Params.clip | absURL }}"
              alt=""
            />
          </div>
        </div>
        <div class="md:w-7/12">
          <h3
            class="text-2xl lg:text-3xl font-bold font-source-sans-pro text-fire-opal"
          >
            {{ .Title }}
          </h3>
          <ul
            class="mt-2 lg:mt-4 flex items-center gap-x-2 lg:gap-x-5"
          >
            {{ if .Params.topic }}
              <li><span class="font-bold text-darmouth-green">{{ T "filter_topic" }}:</span> {{ T (printf "topic_%s" (lower .Params.topic)) }}</li>
            {{ end }}
            {{ if .Params.language }}
              <li><span class="font-bold text-darmouth-green">{{ T "filter_language" }}:</span> {{ T (printf "language_%s" (lower .Params.language)) }}</li>
            {{ end }}
            {{ if .Params.for_whom }}
              <li><span class="font-bold text-darmouth-green">{{ T "filter_for_whom" }}:</span> {{ T (printf "for_whom_%s" (lower .Params.for_whom)) }}</li>
            {{ end }}
          </ul>
          <p class="mt-6 lg:mt-8">{{ .Content }}</p>
          <p class="mt-4 lg:mt-6"><b>Creada por:</b> {{ .Params.creator }}</p>
        </div>
      </div>
      <div class="mt-20 flex justify-center items-center gap-x-2.5">
        <div class="popup relative">
          <div
            class="popup-button font-bold lg:text-lg py-2.5 px-6 cursor-pointer border-2 border-chocolate text-chocolate hover:text-white hover:bg-chocolate duration-300"
          >
            <p>Compartir Por</p>
          </div>
          <div class="popup-content absolute transform -translate-x-1/2 -top-12 left-1/2 hidden">
            <ul class="border-2 border-chocolate py-2 px-6 flex items-center gap-x-4">
              <li class="w-4 h-4">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
                  <img class="h-4 w-4"
                    src='{{ "images/facebook-black.svg" | absURL }}'
                    alt=""
                  />
                </a>
              </li>
              <li class="w-4 h-4">
                <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
                  <img class="h-4 w-4"
                    src='{{ "images/meta.svg" | absURL }}'
                    alt=""
                  />
                </a>
              </li>
              <li class="w-4 h-4">
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer">
                  <img class="h-4 w-4"
                    src='{{ "images/linkedin.svg" | absURL }}'
                    alt=""
                  />
                </a>
              </li>
              <li class="w-4 h-4">
                <div class="btn-save-link cursor-pointer" target="_blank" rel="noopener noreferrer">
                  <img class="h-4 w-4"
                    src='{{ "images/web-link.svg" | absURL }}'
                    alt=""
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <a
            class="inline-block font-bold py-2.5 px-6 bg-darmouth-green text-white lg:text-lg"
            href="{{ .Params.resource_url }}"
            target="_blank"
          >
            {{ T "action_visit_tool" }}
          </a>
        </div>
      </div>
    </div>
    <div class="absolute top-4 right-4">
      <button
        class="border-2 border-chocolate uppercase font-bold p-2 leading-tight hover:text-darmouth-green hover:border-darmouth-green"
      >
        {{ T "action_close" }}
      </button>
    </div>
  </div>
</div>
