{{ $border_class := "" }}
{{ $bg_class := "" }}
{{ $text_class := "" }}
{{ if in (slice "Guía" "Libro" "Reporte") .type }}
  {{ $border_class = "border-darmouth-green" }}
  {{ $text_class = "text-darmouth-green" }}
  {{ $bg_class := "bg-darmouth-green" }}
{{ else if in (slice "Sitio web" "Herramienta") .type }}
  {{ $border_class = "border-maximum-green" }}
  {{ $text_class = "text-maximum-green" }}
  {{ $bg_class = "bg-maximum-green" }}
{{ else }}
  {{ $border_class = "border-pine-green" }}
  {{ $text_class = "text-pine-green" }}
  {{ $bg_class = "bg-pine-green" }}
{{ end }}

<div class="resource-card {{ $border_class }}">
  <div class="resource-image">
    <img src="{{ .clip }}" alt="">
  </div>
  <div class="resource-content">
    <div class="resource-body">
      <span class="resource-type {{ $text_class }}">
        {{ .type }}</span>
      <h3 class="resource-title">
        {{ .title }}
      </h3>
      <p class="resource-source">
        {{ .creator }}
      </p>
    </div>
    <div class="resource-buttons">
      <button data-modal="{{ .url }}" class="mr-4 mb-4 px-4 py-2 leading-tight text-white font-bold text-lg hover:bg-chocolate {{ $bg_class }}">
        {{ T "action_read_more" }}
      </button>
      <a href="{{ .url }}" class="mr-4 mb-4 px-4 py-2 text-white font-bold text-lg hover:bg-chocolate {{ $bg_class }}" target="_blank">
        {{ T "action_visit_tool" }}
      </a>
    </div>
  </div>
</div>
