{{ $border_class := "" }}
{{ $bg_class := "" }}
{{ $text_class := "" }}
{{ if in (slice "guide" "book" "report") .Params.genre }}
  {{ $border_class = "border-darmouth-green" }}
  {{ $text_class = "text-darmouth-green" }}
  {{ $bg_class = "bg-darmouth-green" }}
{{ else if in (slice "website" "tool") .Params.genre }}
  {{ $border_class = "border-maximum-green" }}
  {{ $text_class = "text-maximum-green" }}
  {{ $bg_class = "bg-maximum-green" }}
{{ else if in (slice "blogpost") .Params.genre }}
  {{ $border_class = "border-fern-green" }}
  {{ $text_class = "text-fern-green" }}
  {{ $bg_class = "bg-fern-green" }}
{{ else if in (slice "methodology") .Params.genre }}
  {{ $border_class = "border-office-green" }}
  {{ $text_class = "text-office-green" }}
  {{ $bg_class = "bg-office-green" }}
{{ else if in (slice "template") .Params.genre }}
  {{ $border_class = "border-office-green-2" }}
  {{ $text_class = "text-office-green-2" }}
  {{ $bg_class = "bg-office-green-2" }}
{{ else if in (slice "repository") .Params.genre }}
  {{ $border_class = "border-pakistan-green" }}
  {{ $text_class = "text-pakistan-green" }}
  {{ $bg_class = "bg-pakistan-green" }}
{{ else }}
  {{ $border_class = "border-pine-green" }}
  {{ $text_class = "text-pine-green" }}
  {{ $bg_class = "bg-pine-green" }}
{{ end }}

<div class="resource-card {{ $border_class }}">
  <div class="resource-image">
    <img src="{{ .Params.clip }}" alt="">
  </div>
  <div class="resource-content">
    <div class="resource-body">
      <div class="flex items-center gap-x-2 resource-type {{ $text_class }}">
        <span>
          {{ T (print "label_" .Params.genre) }}
        </span>
        {{ if .Params.topic }}
          <span>
            -
          </span>
          <span>
            {{ T (print "label_" .Params.topic) }}
          </span>
        {{ end }}
      </div>
      <h3 class="resource-title">
        {{ .Title }}
      </h3>
      <p class="resource-source">
        {{ .Params.creator }}
      </p>
    </div>
    <div class="resource-buttons">
      <button data-modal="{{ .Params.resource_url }}" class="mr-4 mb-4 px-4 py-2 leading-tight text-white font-bold text-lg hover:bg-chocolate {{ $bg_class }}">
        {{ T "action_read_more" }}
      </button>
      <a href="{{ .Params.resource_url }}" class="mr-4 mb-4 px-4 py-2 text-white font-bold text-lg hover:bg-chocolate {{ $bg_class }}" target="_blank">
        {{ T "action_visit_tool" }}
      </a>
    </div>
  </div>
</div>
