{{ $has_social_media := or .instagram .twitter }}
<div class="section-row items-start">
  <div class="section-col lg:px-12 lg:pt-1">
    <div class="aspect-w-1 aspect-h-1">
      <img class="object-cover object-center" src="{{ .image | absURL }}" alt="">
    </div>
  </div>
  <div class="section-col">
    <h3 class="text-fire-opal font-source-serif-pro font-bold text-3xl">
      {{ .name }}
    </h3>
    <p class="font-source-serif-pro font-bold text-xl">
      {{ .role }}
    </p>
    <div class="mt-6">{{ .about }}</div>
    {{ if $has_social_media }}
      <div class="mt-6 pb-1 inline-flex items-center space-x-4 site-link">
        {{ if .twitter }}
          <a href="{{ printf "https://twitter.com/%s" .twitter }}" target="_blank" class="flex items-center space-x-2 hover:text-fire-opal">
            <img src="{{ "images/twitter.svg" | absURL }}" alt="">
            <span>{{ .twitter }}</span>
          </a>
        {{ end }}
        {{ if .instagram }}
          <a href="{{ printf "https://instagram.com/%s" .instagram }}" target="_blank" class="flex items-center space-x-2 hover:text-fire-opal">
            <img src="{{ "images/instagram.svg" | absURL }}" alt="">
            <span>{{ .instagram }}</span>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
