<div class="section-row bg-white h-full lg:h-96">
  <div class="section-col">
    <img class="object-cover object-top h-full w-full" src="{{ .image | absURL }}" alt="">
    <!-- <div class="h-full">
    </div> -->
  </div>
  <div class="section-col p-5 flex flex-col justify-between">
    <h3 class="text-fire-opal font-source-serif-pro font-bold text-2xl lg:text-3xl">
      {{ .name }}
    </h3>
    <p class="font-source-serif-pro font-bold text-lg lg:text-xl">
      {{ .role }}
    </p>
    <div class="mt-6 md-content line-clamp-6">{{ .about }}</div>
    <div class="mt-6 flex justify-between items-center">
      <div class="flex items-center font-bold text-base uppercase tracking-wide flex-wrap gap-2.5">
        {{ if .linkedin }}
          <a href="{{ printf "https://www.linkedin.com/in/%s/" .linkedin }}" target="_blank" class="hover:text-fire-opal">
            <img src="{{ "images/linkedin.svg" | absURL }}" alt="">
          </a>
        {{ end }}
        {{ if .twitter }}
          <a href="{{ printf "https://twitter.com/%s" .twitter }}" target="_blank" class="hover:text-fire-opal">
            <img src="{{ "images/x-twitter-icon.svg" | absURL }}" alt="">
          </a>
        {{ end }}
        {{ if .instagram }}
          <a href="{{ printf "https://instagram.com/%s" .instagram }}" target="_blank" class="hover:text-fire-opal">
            <img src="{{ "images/instagram.svg" | absURL }}" alt="">
          </a>
        {{ end }}
      </div>
      <button class="site-link">{{ T "action_read_more" }}</button>
    </div>
    {{ if .readmore }}
      <div class="">
        <button data-modal="{{ .id }}" class="mt-6 site-link hover:text-fire-opal">
          {{ T "action_read_more" }}
        </button>
      </div>
    {{ end }}
  </div>
</div>
