{{ define "main" }}
{{ $topics := slice }}
{{ $languages := slice }}
{{ $forWhoms := slice }}

{{ range .Pages }}
{{ if .Params.topic }}
{{ $topics = $topics | append .Params.topic }}
{{ end }}
{{ if .Params.language }}
{{ $languages = $languages | append .Params.language }}
{{ end }}
{{ if .Params.for_whom }}
{{ $forWhoms = $forWhoms | append .Params.for_whom }}
{{ end }}
{{ end }}



{{ partial "page-header.html" (dict "title" (T "label_tools") "description" (T "page_tools_desc") "image" "images/resources-section.png")}}
<section class="px-4 py-16">
  <div class="p-8 bg-gold-metallic">
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="relative">
          <input id="search"
            class="w-full py-2 pl-12 pr-8 bg-white border-2 border-chocolate focus:outline-none placeholder-chocolate"
            type="search" name="search" placeholder="{{ T "place_holder_search" }}">
          <div class="absolute transform -translate-y-1/2 top-1/2 left-4">
            <img class="w-6 h-6" src='{{ "images/search.svg" | absURL }}' alt="">
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-center gap-4">
        <div class="md:w-1/3 w-full">
          <select id="topic" class="w-full py-2 px-4 bg-white border-2 border-chocolate focus:outline-none" name="topic">
            <option value="">{{ T "filter_topic" }}</option>
            {{ range sort (uniq $topics) "value" "asc" }}
              {{ $topicKey := . | lower | replaceRE "[^a-z0-9]" "_" }}
              <option value="{{ . }}">{{ T (printf "topic_%s" $topicKey) }}</option>
            {{ end}}
          </select>
        </div>
        <div class="md:w-1/3 w-full">
          <select id="language" class="w-full py-2 px-4 bg-white border-2 border-chocolate focus:outline-none" name="language">
            <option value="">{{ T "filter_language" }}</option>
            {{ range sort (uniq $languages) "value" "asc" }}
              {{ $langKey := . | lower | replaceRE "[^a-z0-9]" "_" }}
              <option value="{{ . }}">{{ T (printf "language_%s" $langKey) }}</option>
            {{ end}}
          </select>
        </div>
        <div class="md:w-1/3 w-full">
          <select id="for-whom" class="w-full py-2 px-4 bg-white border-2 border-chocolate focus:outline-none" name="for-whom">
            <option value="">{{ T "filter_for_whom" }}</option>
            {{ range sort (uniq $forWhoms) "value" "asc" }}
              {{ $whomKey := . | lower | replaceRE "[^a-z0-9]" "_" }}
              <option value="{{ . }}">{{ T (printf "for_whom_%s" $whomKey) }}</option>
            {{ end}}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg">
    <div id="scroll-to" class="mt-12 lg:mt-16 xl:mt-20">
      <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-16 xl:gap-x-20">
        <div class="lg:w-4/12 xl:w-3/12">
          <h2 class="font-source-serif-pro text-3xl lg:text-4xl font-bold text-darmouth-green">
            {{ T "label_tools_title" }}
          </h2>
        </div>
        <div class="lg:w-8/12 xl:w-9/12">
          <p class="text-lg lg:text-xl font-semibold">
            {{ T "label_tools_description" }}
          </p>
        </div>
      </div>
      <div class="mt-12 lg:mt-16 xl:mt-20">
        <div id="tools-preview" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-8 lg:gap-y-16 xl:gap-y-20">
          {{ range first 6 (where .Pages "Params.recommended" "!=" true) }}
          {{ partial "resource-card.html" (dict "title" .Title "description" .Content "clip" .Params.clip "resource_url" .Params.resource_url "show_more" false "go_to_tool" true "topic" .Params.topic "language" .Params.language "for_whom" .Params.for_whom) }}
          {{ end }}
        </div>
        <div id="tools-view-more" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-8 lg:gap-y-16 xl:gap-y-20 hidden">
          {{ range (where .Pages "Params.recommended" "!=" true) }}
          {{ partial "resource-card.html" (dict "title" .Title "description" .Content "clip" .Params.clip "resource_url" .Params.resource_url "show_more" false "go_to_tool" true "topic" .Params.topic "language" .Params.language "for_whom" .Params.for_whom) }}
          {{ end }}
        </div>
        <div class="mt-12 text-center">
          <button id="button-tools-active" class="site-link" style="display: inline-block;">{{ T "view_all_tools" }}</button>
          <button id="button-tools-unactive" class="site-link" style="display: none;">{{ T "view_less_tools" }}</button>
        </div>
      </div>
    </div>
    <div id="scroll-to-2" class="mt-20 lg:mt-28 xl:mt-36">
      <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-x-16 xl:gap-x-20">
        <div class="lg:w-4/12 xl:w-3/12">
          <h2 class="font-source-serif-pro text-3xl lg:text-4xl font-bold text-darmouth-green">
            {{ T "label_recommended_tools_title" }}
          </h2>
        </div>
        <div class="lg:w-8/12 xl:w-9/12">
          <p class="text-lg lg:text-xl font-semibold">
            {{ T "label_recommended_tools_description" }}
          </p>
        </div>
      </div>
      <div class="mt-12 lg:mt-16 xl:mt-20">
        <div id="recommended-tools-preview" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-8 lg:gap-y-16 xl:gap-y-20">
          {{ range first 8 (where .Pages "Params.recommended" true) }}
          {{ partial "resource-card.html" (dict "title" .Title "description" .Content "clip" .Params.clip "resource_url" .Params.resource_url "show_more" true "go_to_tool" false "topic" .Params.topic "language" .Params.language "for_whom" .Params.for_whom) }}
          {{ end }}
        </div>
        <div id="recommended-tools-view-more" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-8 lg:gap-y-16 xl:gap-y-20 hidden">
          {{ range (where .Pages "Params.recommended" true) }}
          {{ partial "resource-card.html" (dict "title" .Title "description" .Content "clip" .Params.clip "resource_url" .Params.resource_url "show_more" true "go_to_tool" false "topic" .Params.topic "language" .Params.language "for_whom" .Params.for_whom) }}
          {{ end }}
        </div>
        <div class="mt-12 text-center">
          <button id="button-recommended-tools-active" class="site-link" style="display: inline-block;">{{ T "view_all_recommended_tools" }}</button>
          <button id="button-recommended-tools-unactive" class="site-link" style="display: none;">{{ T "view_less_recommended_tools" }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container px-4 pb-16">
  <div class="section-row section-row-reverse items-center">
    <div class="section-col">
      <img class="mx-auto w-2/3" src="{{ (print "images/join-us-" .Site.Language.Lang ".png") | absURL }}" alt="">
    </div>
    <div class="section-col text-center">
      <h2 class="section-title-md leading-extra-tight">
        {{ T "page_tools_cta_q" | safeHTML }}
      </h2>
      <div class="mt-6">
        <a href="https://lasobremesa.medium.com/" target="_blank" rel="noopener noreferrer" class="inline-block font-semibold text-lg tracking-wide lg:text-xl py-2 px-6 uppercase underline">
          {{ T "label_subscribe_blog" }}
        </a>
      </div>
    </div>
  </div>
</div>
{{ range where .Pages "Params.draft" false }}
  {{ partial "resource-modal.html" . }}
{{ end }}
{{ end }}

{{ define "js" }}
  {{ $do := resources.Get "js/do.js" | js.Build (dict "minify" true)}}
  <script src="{{ $do.Permalink }}"></script>
{{ end }}
