{{ define "main" }}
<section class="px-4 pb-16 pt-0">
  <div class="container-lg md:w-full">
    <div class="section-row">
      <div class="section-col pt-12 z-50 lg:pt-32">
        <div class="section-col-inner relative z-50 lg:left-10 xl:left-18">
          <p class="section-description">
            {{- T "page_home_header_first_row" -}}
          </p>
          <h1 class="uppercase text-7xl font-martin leading-extra-tight md:text-8xl md:leading-extra-tight">
            <span>{{- T "page_home_header_second_row" -}}</span>
            <span class="text-gold-metallic block">
              {{- T "page_home_header_third_row" -}}
            </span>
          </h1>
          <img class="h-20 mt-4 object-left object-contain" src="{{ "images/arrow-down.svg" | absURL }}" alt="">
        </div>
      </div>
      <div class="section-col">
        <img class="relative z-0 object-center object-contain -top-10 lg:-left-10 xl:-left-18 lg:top-0" src="{{ "images/sobremesa.png" | absURL }}" alt="">
      </div>
    </div>
  </div>
</section>
<section class="flex px-4 pb-16 pt-8 md:pt-16">
  <div class="container md:ml-0 md:mr-4 md:w-full lg:mx-auto lg:w-10/12">
    <div class="section-row flex justify-between space-y-0 md:flex-row mx-auto max-w-sm md:max-w-none">
      <div class="section-col">
        <div class="section-col-inner content-center">
          <img class="xl:-mt-32 lg:-ml-32 lg:-mt-20 md:-ml-6 md:-mt-16 -mt-24 hidden md:block" src="{{ (print "images/blue-bubble-" .Site.Language.Lang ".svg") | absURL }}" alt="En La Sobremesa vas a encontrar un espacio para aprender en colectivo con la sociedad civil en América Latina.">
          <img class="xl:-mt-32 lg:-ml-32 lg:-mt-20 md:-ml-6 md:-mt-16 -mt-24 md:hidden" src="{{ (print "images/blue-bubble-complete-" .Site.Language.Lang ".svg") | absURL }}" alt="En La Sobremesa vas a encontrar un espacio para aprender en colectivo con la sociedad civil en América Latina.">
        </div>
      </div>
      <div class="section-col lg:w-1/2 mx-auto md:px-6 lg:px-0">
        <div class="section-col-inner">
          <p class="my-4">
            {{- T "page_home_about_first_row" -}}
          </p>
          <p class="my-4">
            {{- T "page_home_about_second_row" -}}
          </p>
          <p class="section-description my-4">
            {{- T "page_home_about_third_row" -}}
          </p>
          <div class="my-4">
            <a href="{{ relref . "quienes-somos" }}" class="site-link text-chocolate hover:text-fire-opal">{{- T "action_read_about_us_sobremesa" -}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="px-4 pt-16 pb-32">
  <div class="container">
    <h2 class="section-title text-center">
      {{- T "label_what_do_we_do" -}}
    </h2>
    <div class="mt-16 grid gap-20 lg:grid-cols-3">
      <div class="max-w-sm mx-auto">
        <img class="mx-auto h-48 object-center object-contain" src="{{ "images/guide-sketch.png" | absURL }}" alt="">
        <div class="flex flex-col">
          <div class="flex flex-row justify-start items-start -ml-10">
            <img class="h-10 object-center object-contain" src="{{ "images/red-star.svg" | absURL }}" alt="">
            <h3 class="mt-4 font-source-serif-pro text-3xl text-left">
              {{ T "page_home_services_first_title" }}
            </h3>
          </div>
          <h3 class="font-source-serif-pro text-3xl text-left text-fire-opal">
            {{ T "page_home_services_first_hl" }}
          </h3>
        </div>
        <p class="mt-6 text-lg">
          {{- T "page_home_services_first_desc" -}}
        </p>
        <a href="{{ relref . "acompanamiento" }}" class="mt-8 site-link hover:text-fire-opal">{{- T "action_read_about_accompaniment" -}}</a>
      </div>
      <div class="max-w-sm mx-auto">
        <img class="mx-auto h-48 object-center object-contain" src="{{ "images/conversation-sketch.png" | absURL }}" alt="">
        <div class="flex flex-col">
          <div class="flex flex-row justify-start items-start -ml-10">
            <img class="h-10 object-center object-contain" src="{{ "images/yellow-star.svg" | absURL }}" alt="">
            <h3 class="mt-4 font-source-serif-pro text-3xl text-left">
              {{ T "page_home_services_second_title" }}
            </h3>
          </div>
          <h3 class="font-source-serif-pro text-3xl text-left text-gold-metallic">
            {{ T "page_home_services_second_hl" }}
          </h3>
        </div>
        <p class="mt-6 text-lg">
          {{- T "page_home_services_second_desc" -}}
        </p>
        <a href="{{ relref . "espacios" }}" class="mt-8 site-link hover:text-gold-metallic">{{- T "action_join_spaces" -}}</a>
      </div>
      <div class="max-w-sm mx-auto">
        <img class="mx-auto h-48 object-center object-contain" src="{{ "images/resources-sketch.png" | absURL }}" alt="">
        <div class="flex flex-col">
          <div class="flex flex-row justify-start items-start -ml-10">
            <img class="h-10 object-center object-contain" src="{{ "images/green-star.svg" | absURL }}" alt="">
            <h3 class="mt-4 font-source-serif-pro text-3xl text-left">
              {{ T "page_home_services_third_title" }}
            </h3>
          </div>
          <h3 class="font-source-serif-pro text-3xl text-left text-darmouth-green">
            {{ T "page_home_services_third_hl" }}
          </h3>
        </div>
        <p class="mt-6 text-lg">
          {{- T "page_home_services_third_desc" -}}
        </p>
        <a href="{{ relref . "herramientas" }}" class="mt-8 site-link hover:text-darmouth-green">{{ T "action_explore_resources" }}</a>
      </div>
    </div>
  </div>
</section>
<section class="px-8 pb-16 md:px-4 md:py-16 bg-darmouth-green">
  <div class="container w-full lg:w-10/12">
    <div class="section-row md:space-y-0 md:flex-row">
      <div class="section-col md:py-0 md:px-4 md:w-1/2">
        <div class="section-col-inner home-banner bg-tools-sm md:bg-tools-lg">
          <h2 class="section-title leading-extra-tight text-linen relative">
            ¿Qué estamos leyendo y escuchando?
          </h2>
        </div>
      </div>
      <div class="section-col px-4 md:w-1/2">
        <div class="section-col-inner">
          <ul class="flex-grow space-y-12 xl:w-4/5">
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">1</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  El ABC de la Contratación Pública
                </p>
                <a href="" class="site-link mt-2 hover:text-gold-metallic">{{ T "action_read_more" }}</a>
              </div>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">2</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  Datasketch Apps
                </p>
                <a href="" class="site-link mt-2 hover:text-gold-metallic">{{ T "read_more" }}</a>
              </div>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">3</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  Recursos y herramientas del BID
                </p>
                <a href="" class="site-link mt-2 hover:text-gold-metallic">{{ T "read_more" }}</a>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">4</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  Observatorio de Contrataciones Abiertas
                </p>
                <a href="" class="site-link mt-2 hover:text-gold-metallic">{{ T "read_more" }}</a>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">5</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  Manual práctico de investigación para organizaciones no gubernamentales
                </p>
                <a href="" class="site-link mt-2 hover:text-gold-metallic">{{ T "read_more" }}</a>
            </li>
          </ul>
          <div class="mt-16">
            <a href="{{ relref . "herramientas" }}" class="site-link text-white hover:text-gold-metallic">{{ T "action_explore_more_tools" }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="px-8 pb-16 md:px-4 md:pb-0 bg-gold-metallic">
  <div class="container w-full lg:w-10/12">
    <div class="section-row section-row-reverse md:space-y-0 md:flex-row-reverse">
      <div class="section-col md:py-0 md:px-4 md:w-1/2">
        <div class="section-col-inner home-banner bg-spaces-sm md:bg-spaces-lg">
          <h2 class="section-title leading-extra-tight text-linen relative">
            ¿De qué estamos hablando?
          </h2>
        </div>
      </div>
      <div class="section-col py-0 md:py-24 px-4 md:w-1/2">
        <div class="section-col-inner justify-center">
          <ul class="space-y-12 xl:w-4/5">
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">1</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  {{- T "page_home_discuss_first_q" -}}
                </p>
                <a href="" class="site-link mt-2 hover:text-linen hidden">{{ T "action_read_more" }}</a>
              </div>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">2</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  {{- T "page_home_discuss_second_q" -}}
                </p>
                <a href="" class="site-link mt-2 hover:text-linen hidden">{{ T "action_read_more" }}</a>
              </div>
            </li>
            <li class="flex space-x-6 items-center">
              <div class="numbered-item">3</div>
              <div>
                <p class="text-xl font-source-serif-pro font-bold leading-none">
                  {{- T "page_home_discuss_third_q" -}}
                </p>
                <a href="" class="site-link mt-2 hover:text-linen hidden">{{ T "action_read_more" }}</a>
            </li>
          </ul>
          <div class="mt-16 text-center">
            <a href="{{ relref . "espacios" }}" class="site-link text-white hover:text-chocolate">{{- T "action_join_future_spaces" -}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="px-4 pb-16">
  <div class="container-md pt-8 md:pt-16">
    <div class="home-banner bg-acompaniment-sm md:bg-acompaniment-lg bg-top pt-40">
      <h2 class="section-title leading-extra-tight text-center text-fire-opal">
        {{- T "page_home_accompaniment_title" -}}
      </h2>
    </div>
    <div class="py-12 flex flex-wrap justify-center items-center">
      <img class="logo-md" src="{{ "images/logos/codeforall.svg" | absURL }}" alt="">
      <img class="logo-md" src="{{ "images/logos/hiperderecho.svg" | absURL }}" alt="">
      <img class="logo-lg" src="{{ "images/logos/indela.svg" | absURL }}" alt="">
      <img class="logo-md" src="{{ "images/logos/ocp.svg" | absURL }}" alt="">
      <img class="logo-sm" src="{{ "images/logos/poder.svg" | absURL }}" alt="">
      <img class="logo-md" src="{{ "images/logos/reaccion.svg" | absURL }}" alt="">
      <img class="logo-sm" src="{{ "images/logos/tedic.svg" | absURL }}" alt="">
    </div>
    <div class="text-center">
      <a href="{{ relref . "acompanamiento" }}" class="site-link text-chocolate hover:text-fire-opal">
        {{- T "action_read_about_accompaniment_support" -}}
      </a>
    </div>
  </div>
</section>
{{ end }}
